@font-face {
    font-family: "Roboto Flex";
    src: url("../fonts/RobotoFlex-VF.woff") format("woff-variations");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

@font-face {
    font-family: "Indie Flower";
    src: url("../fonts/IndieFlower-Regular.woff");
}
