@import "font";
@import "mixins";

// set default font
$font-family-sans-serif: "Roboto Flex";
//$font-family-sans-serif: "Roboto Condensed";
$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-bold: 500;
$headings-font-weight: 300;

// set colors
$primary: #008a7c;
$secondary: #f9b100;

// do not use any decoration at links
$link-decoration: none;

// enable negative margins
$enable-negative-margins: true;

// set the contrast value
$min-contrast-ratio: 3;

@import "../../../components/node_modules/bootstrap/scss/bootstrap";


/* style for site */
body {
    font-stretch: 75%;
    margin-bottom: 36px;
    @media(min-width: 768px) {
	margin-bottom: 0;
    }
}

/* HEADER NAV */
#header-nav {
    transition: 0.4s;
    width: 100%;
    text-align: center;
    h3 {
	margin-top: 10px;
	font-stretch: 50%;
    }
    .nav-table {
	width: 100%;
	display: table;
    }
    .nav-row {
	display: table-row;
    }
    .nav-cell {
	display: table-cell;
	width: 12.5%;
    }
    #logo {
	display: block;
	position: relative;
	z-index: 2;
	img {
	    vertical-align: middle;
	    margin: -10% -20% -10% 0%;
	    transition: 0.4s;
	    height: 180px;
	}
    }

}

.color-bar {
    color: $light;
    background: $primary;
    text-transform: uppercase;
    button.navbar-toggler {
	color: $light;
	padding-left: 0px;
    }
    button.navbar-toggler:focus {
	box-shadow: none ! important;
    }
    .nav-link {
	color: $light;
    }
    a {
	display: block;
	color: $light;
    }
    a:hover {
	color: $gray-300;
    }
}

img.thumbnail {
    width: 32px;
    height: 32px;
}

#side-buttons {
    font-family: Indie Flower;
    position: fixed;

    @media(max-width: 767px) {
	bottom: 0;
	width: 100%;
	.btn {
	    font-size: 16px;
	    padding: 6px 12px;
	    border-radius: 0;
	    margin: 0;
	    width: 50%;

	    img {
		height: 16px;
		margin-bottom: 1px;
	    }
	}
    }
    @media(min-width: 768px) {
	z-index: 2999;
	right: -170px;
	top: 50%;

	.btn {
	    font-size: 32px;
	    text-align: left !important;
	    transition: transform 500ms ease-in-out 25ms;
	    padding: 12px 32px;
	    border-radius: 64px 0 0 64px;
	    img {
		height: 32px;
		margin-bottom: 2px;
	    }
	}
	.btn:hover {
	    transform: translate(-160px, 0);
	}
    }
}

#footer {
    margin-top: 3em;
}

.footer-upper-nav {
    border-bottom: .4rem solid $secondary;
}

#footer-topics {
    width: 100%;
    padding-top: 15px;
    text-align: center;
    a {
	color: $black;
    }
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

// home-page
#content {
    .front-page {
	text-align: center;
	.flex-even {
	    flex: 1;
	    padding: 0 1em;
	    margin: 1em 0;
	}
	h1 {
	    font-family: Indie Flower;
	    color: $secondary;
	    font-size: 72px;
	    margin-top: 2em;
	    margin-bottom: 0;
	    text-transform: uppercase;
	}
	h2 {
	    color: $primary;
	    font-weight: 500;
	    font-size: 54px;
	    margin-top: 1em;
	}
	h3 {
	    color: $primary;
	    font-size: 40px;
	    margin-top: 0em;
	}
	h4 {
	    font-family: Indie Flower;
	    color: $secondary;
	    font-size: 64px;
	    margin-top: 1em;
	}
	h5 {
	    color: $secondary;
	    font-size: 32px;
	    margin-top: .2em;
	}
	h6 {
	    font-family: Indie Flower;
	    color: $secondary;
	    font-size: 40px;
	    margin-top: 1em;
	}

	.col-gap {
	    column-gap: 2rem;
	}

	#circles {
	    margin: 3em 0;
	    h2 {
		margin-top: 0px;
		font-size: 32px;
	    }
	}

	.centered {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}

	input {
	    color: $primary;
	    border-color: $primary;
	    height: 2.5rem;
	    font-size: 1.5rem;

	    &::placeholder {
		color: $primary;
		font-weight: 100;
	    }
	}
    }

    h1 {
	font-size: 3.3em;
	font-weight: 400;
	margin-top: .8em;
	margin-bottom: .4em;
    }
    h2 {
	font-size: 2.2em;
	margin: .6em 0 .4em 0;
    }

    .block-headings {
	h2 {
	    color: $secondary;
	    margin-top: 2.5em;
	    margin-bottom: .5em;
	}
	h3 {
	    position: relative;
	    margin-bottom: 25px;

	    &::after {
		content: "";
		height: 4px;
		width: 50px;
		background-color: $secondary;
		position: absolute;
		bottom: -10px;
		left: 50%;
		transform: translate(-50%);
	    }
	}
    }
}

// leaflet maps
#large-map {
    width: 100%;
    height: 500px;
}

.fill-map {
    padding: 0;
}

.leaflet-container {
    height: 450px !important;
    text-align: left;
    .leaflet-control-attribution {
	a {
	    color: $primary;
	    // remove flag
            .leaflet-attribution-flag {
		display: none !important;
            }
	}
    }
    .leaflet-popup {
	font-size: 15px;
	a {
	    color: $primary;
	}
    }
}

// markers made with BeautifyMarker
.marker.beautify-marker {
    background-color: $primary !important;
    border-color: $primary !important;
    div, i.fa {
	color: $light !important;
    }
}
// markers made with markercluster
.marker-cluster-large,
.marker-cluster-medium,
.marker-cluster-small,
.marker-cluster-large div,
.marker-cluster-medium div,
.marker-cluster-small div {
    background-color: rgba($primary, .6) !important;
}


// fullcalendar
.fc {
    td.fc-today {
	background-color: lighten($secondary, 40) !important;
    }
    .fc-event {
	color: $light;
	background-color: $primary;
	border: 1px solid $primary;
    }
    .past-event.fc-event {
	color: $primary;
	background-color: lighten($primary, 10);
    }
    .corona.fc-event {
	text-decoration: line-through;
    }
    a.fc-event.fc-start.fc-end {
	cursor: pointer;
    }
    table.fc-list-table {
	td {
	    padding-top: 1.5em;
	    padding-bottom: 1.5em;
	}
	td.fc-widget-header {
	    padding-top: 0.5em;
	    padding-bottom: 0.5em;
	}
    }
}

// calendar tooltip
.event-tooltip {
    border-radius: 4px;
    border: 1px solid $secondary !important;
    .qtip-content {
	background-color: $light;
	font-size: 15px;
	line-height: 1.5;
    }
}

section.grouped-by {
    scroll-margin-top: 145px;
    a i.fa {
	color: $secondary;
    }
}

#search-results {
    .past-event {
	color: $gray-100;
    }
}
#anchors {
    scroll-margin-top: 200px;
    background-color: $light;
    a {
	color: $secondary;
    }
}

// required fields in forms
form {
    .required {
	label {
	    font-weight: $font-weight-bold;
	}
    }
}

// modal-xl for filter modal
.modal-xl {
    text-align: left;
    .sublist {
	border-left: 1px dashed lightgray;
	li {
	    margin-left: 1rem;
	}
    }
    i.fa-caret-down {
	cursor: pointer;
    }
}


/* carousel adoptions */
.carousel-control-prev-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    position: absolute;
    left: 0px;
}

.carousel-control-next-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    position: absolute;
    right: 0px;
}

#carousel .carousel-item:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100vh;
}

#carousel .carousel-item img {
    object-fit: contain;
    object-position: center;
    max-width: 90%;
    height: 50vw;
    margin: auto;
    overflow: hidden;
}

/* matrix live */
.matrix-live-main {
    max-width: 100%;

    .matrix-live-loading {
	font-size: smaller;
	text-align: right;
	color: $secondary;

	margin: 0px;
    }

    .matrix-live-loading-error {
	color: $danger;
    }

    .matrix-live-error {
	border-bottom-style: solid;
	border-bottom-color: $dark;
	border-bottom-width: 1px;

	padding-bottom: 5px;
	margin: 0px;

	color: $danger;
    }

    .matrix-live-entry {
	border-bottom-style: solid;
	border-bottom-color: $gray-500;
	border-bottom-width: 1px;

	padding-bottom: 30px;
	padding-top: 10px;

	.matrix-live-entry-body {
	    margin-top: 10px;
	    margin-bottom: 10px;

	    p {
		margin-bottom: 5px;
	    }

	    img {
		max-width: 100%
	    }

	    .matrix-live-entry-inline-viewer {
		text-align: center;
	    }

	    .matrix-live-entry-image {
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;

		img {
		    max-width: 100%
		}
	    }

	    .matrix-live-entry-video {
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;

		video {
		    max-width: 100%;
		}
	    }

	    .matrix-live-entry-file {
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;

		svg {
		    width: 32px;
		    max-width: 20%;
		    margin-right: 16px;
		    vertical-align: middle;
		}
	    }
	}
	.matrix-live-entry-author, .matrix-live-entry-time {
	    font-size: small;
	    color: $white;
	    display: inline;
	    float: left;

	    border-radius: 4px;
	    background: $primary;
	    padding: 4px;
	}
	.matrix-live-entry-time {
	    float: right;
	}
    }

    .matrix-live-footer {
	text-align: right;
	font-size: smaller;

	margin-top: 10px;
	margin-bottom: 10px;
    }
}

// social buttons
#social-buttons {
    ul.share-buttons {
	list-style: none;
	padding: 0px;
	margin: .5em;

	li {
	    display: inline-block;
	}

	a {
	    display: block;
	    color: white;
	    border: 2px solid $primary;
	    border-radius: 5px;
	    background-color: $primary;
	    min-width: 2.4em;
	    hight: 2.4em;
	    padding: 2px
	}

	a:hover {
	    border-color: darken($primary, 20);
	    background-color: darken($primary, 20);
	}
    }
}

// special css for history page
.history {
    .entry {
	display: flex;
	.date {
	    font-size: 24px;
	    font-weight: bold;
	    color: $secondary;
	}
	.event {
	    h3 {
		font-size: 24px;
		line-height: 1.0;
	    }
	}
	@media(min-width: 768px) {
	    .date {
		flex: 1 1 0;
		padding: 0 30px 1em 30px;
	    }
	    .event {
		flex: 1 1 0;
		padding: 0 30px 1em 30px;
	    }
	    &:nth-child(odd) {
		flow-direction: row;
		.date {
		    text-align: right;
		    border-right: solid 5px $secondary;
		}
		.event {
		    text-align: left;
		}
	    }
	    &:nth-child(even) {
		flex-direction: row-reverse;
		.date {
		    text-align: left;
		    border-left: solid 5px $secondary;
		}
		.event {
		    text-align: right;
		}
	    }
	}
	@media(max-width: 767px) {
	    flex-direction: column;
	    .date, .event {
		text-align: left;
	    }
	    .date {
		margin-top: 1em;
	    }
	}
    }
}

// convert colors of topic-icons
.icon-primary {
    @include recolor($primary, 1.0);
}

.icon-secondary {
    @include recolor($secondary, 1.0);
}
