{% extends "base.html" %}
{% load bleach_tags %}

{% block content %}

<div class="breadcrumb">
  <div class="col-xs-6 container-fluid">
   <a href="../">Glossar</a> &#9658; <a href="">{{ entry.term }}</a>
  </div>
  <div class="col-xs-6 container-fluid text-right">
  </div>
</div>
<br>

<div class="col-sm-6 container-fluid">
  <div class="container-left">
  <h1>{{ entry.term }}</h1>
  <p>
    {{ entry.definition|bleach }}
  </p>
  </div>
</div>


<div class="col-sm-6 container-fluid">
  <div class="container-right">
  <p>Quellen:<br />
    {% for weblink in entry.weblink_set.all %}
    <a href="{{ weblink.link }}" target="_blank" rel="noopener noreferrer">{{ weblink.description }}</a> <br />
    {% endfor %}
  </p>

  <p><h5><a href="../">&#9668; zurück zur Glossar-Übersicht</a></h5></p>
  </div>
</div>


{% endblock content %}
