{% extends "base.html" %}
{% load i18n %}
{% load bleach_tags %}
{% load static %}

{% block js %}
<script type="text/javascript" src="{% static 'glossary/index.js' %}"></script>
{% endblock js %}

{% block content %}

<div class="breadcrumb">
  <div class="col-xs-6 container-fluid">
    <div class="small">
    {% trans "Glossar anzeigen als" %}: <a href="" class="active">{% trans "Liste" %}</a>
    </div>
  </div>
  <div class="col-xs-6 container-fluid text-right">
    <div class="small">
    {% trans "Sortieren nach" %}: <a href="" class="active">A-Z</a>
    </div>
  </div>
</div>

<div id="glossary-entries" class="container-fluid">
  {% for entry in entry_list %}
  <div id="sortierung-{{ entry.id }}" class="panel">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#{{ entry.id }}">
        <div class="pull-left push-down">{{ entry.term }}</div>
        <div class="text-right bright">&#9660;</div>
      </a>
    </div>
    <div id="{{ entry.id }}" class="panel-body collapse">
      <div class="glossary">
      <p>
      {{ entry.definition|bleach }}
      </p>
      <p><b>{% trans "Quellen " %}</b>
        {% for weblink in entry.weblink_set.all %}
        &sdot; <a href="{{ weblink.link }}" target="_blank" rel="noopener noreferrer">{{ weblink.description }}</a>
        {% endfor %}
      </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
