div .django-ckeditor-widget {
    display: inline-block;
}

.ck h2 {
    font-size: 1.75rem;
    font-weight: bold;
    padding-left: 0;
}

.ck h3 {
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 0;
}

.ck h4 {
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 0;
}
