/* NAV TABLE CLASSES */

.nav_table {
  display: table;
}

.nav_row {
  display: table-row;
}

.nav_cell {
  display: table-cell;
}


/* logo image */
#logo {
  display: block;
  position: relative;
}


.navbar {
    margin-bottom: 0;
}

#logo_mobile img {
    margin: 2px 0;
    height: 50px;
}

#logo img {
    vertical-align: middle;
    margin: -20% -30% -20% -10%;
    transition: 0.4s;
    height: 200px;
}

#top {
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 1040;
}

/* HEADER NAV */
#header_nav {
    transition: 0.4s;
    /* position: fixed; */
    width: 100%;
    top: 42px;
    text-align: center;
}

#header_nav button {
    margin-right: 0px;
}

#header_nav h3 {
  margin-top: 10px;
}

#header_nav a {
  display: block;
}

#header_nav a:hover {
 color: #ccc;
}

#header_nav .nav_table, #header_nav .nav_row {
  width: 100%;
}

#header_nav .nav_cell {
  width: 12.5%;
}

/* UTILITY */
.sgj_colored_bar {
  color: #fff;
  background: rgb(0, 139, 124);
  text-transform: uppercase;
}

.sgj_colored_bar a {
 color: #fff;
}

.sgj_colored_bar.border_top {
  border-top: 0.8rem solid rgb(242, 163, 0);
}

.sgj_colored_bar.border_bottom {
  border-bottom: 1.6rem solid rgb(242, 163, 0);
}

.text-uppercase {
  text-transform: uppercase;
}


/* FOOTER NAV */
#footer .sgj_colored_bar a h3 {
  margin: 0;
}

#footer {
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    /*height: 200px;*/
}

body {
  /*margin-bottom: 200px; /* footer height */
}

/* footer */
#footer {
    padding-top: 10px;
}

#footer #topics {
    border-top: 10px solid #f1a400;
    padding-top: 15px;
}

#footer #topics a {
    color: black;
}

/* seven cols */
.seven-cols .col-xs-1,
.seven-cols .col-sm-1,
.seven-cols .col-md-1,
.seven-cols .col-lg-1  {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
}

/* search form*/
#search_form .input-group-addon {
  background-color: #fff;
  color: rgb(242, 163, 0);
  border-right: none;
}

#search_form .form-control {
  border-left: none;
  min-width: 250px;
}


/* start page image */
#footer .container {
  position: relative;
}

#start-page-special-link-image:hover {
    background-color: #00302b;
}

#start-page-special-link-image {
    background-color: white;
    transition: background-color 200ms linear;
}

@media (max-width: 768px) {
    #start-page-special-link-image {
	max-height: 120px;
	position: relative;
	right: -20px;
	top: 100px;

    }
    #start-page-image {
	max-height: 200px;
	position: relative;
	right: -150px;
    }
}

@media (min-width: 768px) {
    #start-page-special-link-image {
	max-height: 120px;
	position: absolute;
	right: 250px;
	top: -210px;
    }

    #start-page-image {
	max-height: 200px;
	position: absolute;
	right: 70px;
	top: -200px;
    }
}

@media (min-width: 992px) {
    #start-page-special-link-image {
	max-height: 120px;
	position: absolute;
	right: 380px;
	top: -210px;
    }

    #start-page-image {
	max-height: 200px;
	position: absolute;
	right: 200px;
	top: -200px;
    }
}


/* navbar theme */
.navbar-sgj .icon-bar {
  background-color: #fff;
}

.navbar-sgj .navbar-toggle {
  border-color: #fff;
}

/* CIRCLES */
#sgj-circles {
  margin: 2vw 0vw 5vw 0;
}

#sgj-circles h2 {
  font-size: 3vw;
}

/* STARTSEITE */
@media (min-width:  1200px) {
  /* stop scaling when largest breakpoint is reached */
  #sgj-circles h2 {
    font-size: 2.5em;
  }
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
