.marker-cluster-small {
    background-color: rgba(102, 187, 0, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(102, 187, 0, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(102, 187, 0, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(102, 187, 0, 0.6);
}

.marker-cluster-large {
    background-color: rgba(102, 187, 0, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(102, 187, 0, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(102, 187, 0);
}

.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(102, 187, 0);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(102, 187, 0);
}

.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(102, 187, 0);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(102, 187, 0);
}

.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(102, 187, 0);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: bold 12px sans;
    color: white;
}

.marker-cluster span {
    line-height: 30px;
}
