ul.share-buttons {
    list-style: none;
    padding: 0px;
    margin: .5em;
}

ul.share-buttons li {
    display: inline-block;
}

ul.share-buttons a {
    display: block;
    color: white;
    border: 2px solid #008a7c;
    border-radius: 5px;
    background-color: #008a7c;
    min-width: 2.4em;
    height: 2.4em;
    padding: 2px;
}

ul.share-buttons a:hover {
    border-color: #00302b;
    background-color: #00302b;
}
