<li>
  <a class="btn" data-copy-btn="buttonCopy" data-copy-url="{{ copy_url }}" title="{{ link_text }}">
    <i class="fa fa-clipboard fa-2x" aria-hidden="true"></i>
    <span class="sr-only">{{ link_text }}</span>
  </a>
</li>
