<li>
  <a href="{{ gplus_url }}" target="_blank"  rel="noopener noreferrer" title="{{link_text}}">
    <i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i>
    <span class="sr-only">{{ link_text }}</span>
  </a>
</li>
