<li>
  <a href="{{ tweet_url }}" target="_blank"  rel="noopener noreferrer" title="{{link_text}}">
    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    <span class="sr-only">{{ link_text }}</span>
  </a>
</li>
