.fc td.fc-today {
    background: rgba(249, 177, 0, 0.4) none repeat scroll 0 0;
}

.fc .fc-event {
    background-color: #008a7c;
}

.fc .past-event.fc-event {
    color: #008a7c;
    background-color: #aac4bf;
    border: 1px solid #7caaa2;
}

.fc .corona.fc-event {
    text-decoration: line-through;
}

a.fc-event.fc-start.fc-end {
    cursor: pointer;
}

.sgj-tooltip {
    border-radius: 4px;
    background-color: white; /* this is more or less rgba(249, 177, 0, 0.4) */
}
