.leaflet-container {  /* all maps */
    width: 100%;
    height: 350px;
}

#id_coords_map {
    margin-top: 1em;
    width:  100%;
    height: 400px;
}

.note-editor.note-frame {
    border: 1px solid #ff9900 !important;
}
