{% load i18n %}
{% if on_line %}
<em>{% trans "On-line Treffen" %}</em>
{% else %}
{% if location %}
{% if location.name %}<b>{{ location.name }}</b><br/>{% endif %}
{% if location.street %}{{ location.street }} {{ location.house_number }}<br/>{% endif %}
{% if location.city %}{{ location.zipcode }} {{ location.city }}{% endif %}
{% if location.note %}<br/><i>{{ location.note }}</i>{% endif %}
{% if location.accessible %}<br/><i class="fa fa-wheelchair" aria-hidden="true"></i>{% endif %}
{% else %}
<em class="text-warning">{% trans "Noch nicht bekannt" %}</em>
{% endif %}
{% endif %}
