{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load leaflet_tags %}
{% block title %}{% trans "Detail Ort" %}{% endblock title %}
{% block css %}
{% leaflet_css %}
<link rel="stylesheet" href="{% static 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css' %}"/>
{% endblock css %}
{% block js %}
{% leaflet_js %}
<script type="text/javascript" src="{% static 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.min.js' %}"></script>
{% endblock js %}

{% block content %}
<section class="mt-3">
  <div class="row d-flex gy-3 justify-content-around flex-md-row flex-column">
    <div class="col-12 col-md-8">
      <h3>{% trans 'Karte' %}</h3>
      {% with lon=location.coords.x|safe lat=location.coords.y|safe %}
      <script type="text/javascript">
	function map_init(map, options) {
            L.marker([{{ lat }}, {{ lon }}]).addTo(map);
            map.setView(L.latLng({{ lat }}, {{ lon }}), 16);
	}
      </script>
      {% endwith %}
      <div>
	{% leaflet_map "main" callback="window.map_init" %}
      </div>
    </div>

    <div class="col-12 col-md-4">
      <h3>{% trans 'Info' %}</h3>
      <div class="mb-2">
	{% if location.name %}
	<strong>{{ location.name }}</strong><br/>
	{% endif %}
	{{ location.street }} {{ location.house_number }}<br/>
	{{ location.zipcode }} {{ location.city }}
      </div>

      <div class="mb-2">
	{{ location.county }}<br/>
	{{ location.state }}<br/>
	{{ location.country }}
      </div>

      {% if location.note %}
      <div class="mb-2">
	<i>{{ location.note }}</i>
      </div>
      {% endif %}

      {% if location.accessible %}
      <div class="mb-2">
	<i class="fa fa-wheelchair" aria-hidden="true"></i>
	{% trans "Barrierefreier Zugang" %}
      </div>
      {% endif %}

      {% if location.creator == request.user %}
      <div class="d-grid gap-2 mt-2">
	<a class="btn btn-secondary" href="{% url 'location:edit' location.pk %}">
	  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans "Bearbeiten" %}
	</a>
      </div>
      {% endif %}

      {% if location.ini_loc.count|add:location.ev_loc.count %}
      <div class="mt-4">
	<h6>{% trans 'Dieser Ort wird verwendet von' %}</h6>
	<ul class="fa-ul">
	  {% for ini in location.ini_loc.all %}
	  <li>
	    <i class="fa-li fa fa-fw fa-users" aria-hidden="true"></i>
	    <a href="{% url 'initiative:detail' ini.pk %}">{{ ini }}</a>
	  </li>
	  {% endfor %}
	</ul>
	<ul class="fa-ul">
	  {% for ev in location.ev_loc.all %}
	  <li>
	    <i class="fa-li fa fa-fw fa-calendar" aria-hidden="true"></i>
	    <a href="{% url 'event:detail' ev.pk %}">{{ ev }}</a>
	  </li>
	  {% endfor %}
	</ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
