{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Ort bearbeiten" %}</h2>

<ul class="nav nav-tabs">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" data-bs-target="#address" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="address" aria-selected="true">
      {% trans "Adresse" %}
    </button>
  </li>
  {% if form.instance.pk %}
  <li class="nav-item ms-auto">
    <button class="nav-link" data-bs-target="#delete" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="delete" aria-selected="false">
      {% trans "Löschen" %}
    </button>
  </li>
  {% endif %}
</ul>

<form role="form" method="POST">
  {% csrf_token %}

  <div class="row mt-3">
    <div class="col-12">
      <div class="tab-content">

	<!-- address -->
	<div id="address" class="tab-pane fade show active">
	  <h3>{% trans 'Adresse' %}</h3>
	  {% include 'location/location_form.html' %}
	</div>
	<!-- end address -->

	{% if form.instance.pk %}
	<div id="delete" class="tab-pane fade">
	  <h3>{% trans "Löschen" %}</h3>

          {% if form.instance.ini_loc.count|add:form.instance.ev_loc.count == 0 %}
	  <p class="help-block">
	    {% blocktrans %}
	    Willst du diesen Ort wirklich löschen? Dann bestätige dies bitte
	    mit einem Häkchen.
	    {% endblocktrans %}
	  </p>
	  <p class="text-danger">
	    {% trans 'Der Ort wird dann ohne weitere Nachfrage unwiderruflich gelöscht!' %}
	  </p>
	  <div class="checkbox">
	    <label>
	      {{ form.deletion }} {{ form.deletion.label }}
	    </label>
	  </div>
	  {% else %}
	  <p class="help-block">
	    {% blocktrans %}
	    Dieser Ort kann nicht gelöscht werden, weil er noch referenziert
	    wird
	    {% endblocktrans %}
	  </p>
	  <ul class="fa-ul">
	    {% if form.instance.pk %}
	    {% for ini in form.instance.ini_loc.all %}
	    <li>
	      <i class="fa-li fa fa-fw fa-users" aria-hidden="true"></i>
	      <a href="{% url 'initiative:edit' ini.pk %}">{{ ini }}</a>
	    </li>
	    {% endfor %}
	    {% endif %}
	  </ul>
	  <ul class="fa-ul">
	    {% if from.instance.pk %}
	    {% for ev in form.instance.ev_loc.all %}
	    <li>
	      <i class="fa-li fa fa-fw fa-calendar" aria-hidden="true"></i>
	      <a href="{% url 'event:edit-event' ev.pk %}">{{ ev }}</a>
	    </li>
	    {% endfor %}
	    {% endif %}
	  </ul>
	  {% endif %}
	</div>
	<!-- end deletion -->
	{% endif %}

      </div>

      <hr/>
      <div class="mt-3">
	<input class="btn btn-primary col-4 col-md-3 col-lg-2 me-2" type="submit" value="{% trans 'Speichern' %}" formnovalidate>
	<input class="btn btn-secondary col-4 col-md-3 col-lg-2" type="cancel" value="{% trans 'Abbrechen' %}" onclick="javascript:window.history.back()">
      </div>

    </div>
  </div>
</form>

{% endblock content %}
