{% load i18n %}
{% load static %}
{% load leaflet_tags %}
{% block css %}
{% if settings.PELIAS_URL %}
{% leaflet_css plugins="forms,pelias-leaflet-geocoder" %}
{% else %}
{% leaflet_css plugins="forms,leaflet-control-geocoder" %}
{% endif %}
<link rel="stylesheet" href="{% static 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css' %}"/>
{% endblock css %}
{% block js %}
{% if settings.PELIAS_URL %}
{% leaflet_js plugins="forms,pelias-leaflet-geocoder" %}
{% else %}
{% leaflet_js plugins="forms,leaflet-control-geocoder" %}
{% endif %}
<script type="text/javascript" src="{% static 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.min.js' %}"></script>
<script type="text/javascript" src="{% static 'location/format-coords.js' %}"></script>
<script type="text/javascript" src="{% static 'location/address-coords.js' %}"></script>
{% endblock js %}

{{ map_strings|json_script:"map-strings" }}
{{ geocode2modelfield|json_script:"geocode2modelfield" }}
{{ settings|json_script:"settings" }}
{{ region_force|json_script:"region-force" }}
{% url 'location:get_address' as url %}{{ url|json_script:"get-address-url" }}

<div class="row">
  {% if form.non_field_errors %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label={% trans "Schließen" %}>
      <span aria-hidden="true">&times;</span>
    </button>
    <ul class="list-group">
      {% for error in form.non_field_errors %}
      <li class="list-group-item">{{ error|safe }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="col-12">
    <p class="help-block">
      {% blocktrans %}
      Du kannst auf zwei Arten eine Adresse eingeben
      {% endblocktrans %}
    </p>
    <ol>
      <li>
	{% blocktrans %}
	Du tippst in das Suchfeld am unteren Rand der Karte eine
	geographische Angabe (z.B. Spektral oder eine Adresse) und
	wählst aus den Vorschlägen den passenden Ort aus.
	{% endblocktrans %}
      </li>
      <li>
	{% blocktrans %}
	Du setzt den Marker an die entsprechende Stelle auf der Karte. Klicke
	auf das Markersymbol <i class="fa fa-map-marker" aria-hidden="true"></i>
	auf der linken Seite der Karte. Danach klicke in der Karte auf deinen
	gewünschten Ort. Während der Marker schwebt, kannst du weiterhin die
	Karte zoomen und verschieben.
	{% endblocktrans %}
      </li>
    </ol>
    <p class="help-block">
      {% blocktrans %}
      Die gefunde Adresse wird dir unterhalb der Karte angezeigt. Du kannst
      diese nun benennen, eine Bemerkung hinzufügen und angeben, ob dieser
      Ort barrierefrei zugänglich ist.
      {% endblocktrans %}
    </p>
  </div>

  <div class="col-12">
    <div class="mb-3 required {% if form.coords.errors %}text-danger{% endif %}">
      <label for="{{ form.coords.id_for_label }}">
	{{ form.coords.label }}
      </label>
      {{ form.coords }}
    </div>
  </div>

  <div class="col-12">
    <div class="mb-3">
      <div class="row gy-3">
	<div class="col-12 col-sm-4">
	  <div class="form-floating">
	    {{ form.name }}
	    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
	  </div>
	</div>
	<div class="col-12 col-sm-8">
	  <div class="form-floating">
	    {{ form.note }}
	    <label for="{{ form.note.id_for_label }}">{{ form.note.label }}</label>
	  </div>
	</div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row">
	<div class="col-12">
	  <label class="control-label" for="{{ form.accessible.id_for_label }}">
	    {{ form.accessible.label }}
	  </label>
	  {{ form.accessible }}
	</div>
      </div>
    </div>

    <hr/>

    <div class="mb-3">
      <div class="row gy-3">
	<div class="col-12 col-sm-8">
	  <div class="form-floating">
	    {{ form.street }}
	    <label for="{{ form.street.id_for_label }}">{{ form.street.label }}</label>
	  </div>
	</div>
	<div class="col-12 col-sm-4">
	  <div class="form-floating">
	    {{ form.house_number }}
	    <label  for="{{ form.house_number.id_for_label }}">
	      {{ form.house_number.label }}
	    </label>
	  </div>
	</div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row gy-3">
	<div class="col-12 col-sm-4">
	  <div class="form-floating">
	    {{ form.zipcode }}
	    <label for="{{ form.zipcode.id_for_label }}">
	      {{ form.zipcode.label }}
	    </label>
	  </div>
	</div>
	<div class="col-12 col-sm-8">
	  <div class="form-floating">
	    {{ form.city }}
	    <label for="{{ form.city.id_for_label }}">
	      {{ form.city.label }}
	    </label>
	  </div>
	</div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row gy-3">
	<div class="col-12 col-sm-4">
	  <div class="form-floating">
	    {{ form.county }}
	    <label for="{{ form.county.id_for_label }}">
	      {{ form.county.label }}
	    </label>
	  </div>
	</div>
	<div class="col-12 col-sm-4">
	  <div class="form-floating">
	    {{ form.state }}
	    <label for="{{ form.state.id_for_label }}">
	      {{ form.state.label }}
	    </label>
	  </div>
	</div>
	<div class="col-12 col-sm-4">
	  <div class="form-floating">
	    {{ form.country }}
	    <label for="{{ form.country.id_for_label }}">
	      {{ form.country.label }}
	    </label>
	  </div>
	</div>
      </div>

    </div>
  </div>

  <div class="col">
    <p class="help-block">
      {% blocktrans %}
      Falls du mit der Adressangabe nicht zufrieden bist, melde dies bitte
      bei der Moderation unter möglichst genauer Angabe (z.B. screenshot)
      der falschen und gewünschten Adresse per email an
      {% endblocktrans %}
      <a href="mailto:{{ settings.MODERATION_EMAIL }}">{{ settings.MODERATION_EMAIL }}</a>.
    </p>
  </div>
</div>

{% comment %}
{% include "location/address-coord_js.html" %}
{% endcomment %}
