{% load rules %}
{% load i18n %}
{% load email_obfuscator %}
{% load common_tags %}
{% load profile_elements %}
{% load static %}

<div class="col-md-4 col-12 mb-3 ps-2 text-center">
  <div class="card h-100 border-0">
    <div class="card-body">
      <a href="{% url 'profile:detail' user.pk %}">
	<img class="rounded-circle mb-3"
	     alt="{{ user.username }}"
	     {% if user.profile.picture %}
	     src="{{ user.profile.picture.thumbnail.url }}"
	     {% else %}
	     src="{% static 'img/anonymous.png' %}"
	     {% endif %}
	     width="100" height="100">
      </a>

      <h3>
	<a href="{% url 'profile:detail' user.pk %}">
	  {% if user.get_full_name %}
	  {{ user.get_full_name }}
	  {% else %}
	  {% trans 'Kein Name angegeben' %}
	  {% endif %}
	</a>
      </h3>

      {% if user.profile.slogan %}
      <p>
	<em>{{ user.profile.slogan }}</em>
      </p>
      {% endif %}

      {% user_contact user request.user %}
      {% user_initiatives user %}
    </div>
  </div>
</div>
