{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans 'Konto unwiederbringlich löschen' %}</h2>
<h3 class="page-header">
  {% if user.first_name or user.last_name %}
  {{ user.get_full_name }} <small>{{ user.username }}</small>
  {% else %}
  {{ user.username }}
  {% endif %}
</h3>

{% if initiative_list %}
<div class="alert alert-danger" role="alert">
  {% blocktrans %}
  Wenn du dein Konto nun auflöst, werden auch alle Informationen zu
  deinen Initiativen gelöscht und können nicht wieder hergestellt
  werden.
  {% endblocktrans %}
</div>

<ul class="list-group">
  {% for initiative in initiative_list %}
  <li class="list-group-item">
    <a href="/initiative/{{ initiative.pk }}">{{ initiative.name }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

<form method="post" action="" role="form" class="form-horizontal">
  {% csrf_token %}
  <hr>
  <div class="mt-3">
    <input class="btn btn-danger col-4 col-md-3 col-lg-2 me-2" type="submit" value="{% trans 'Ja wirklich' %}">
    <a href=".." type="button" class="btn btn-success col-4 col-md-3 col-lg-2">{% trans "Abbrechen" %}</a>
  </div>
</form>
{% endblock content %}
