{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load email_obfuscator %}

{% block title %}{{ profile.user.get_full_name|default:_("Kein Name angegeben") }}{% endblock title %}

{% block content %}
<div class="d-flex flex-md-row flex-column-reverse">
  <div>
    <h2>
      {{ profile.user.get_full_name|default:_("Kein Name angegeben") }}
    </h2>
  </div>

  {% if user == profile.user %}
  <div class="mt-3 ms-auto">
    <div class="btn-group btn-group-sm" role="group" aria-label="{% trans 'Aktionen' %}">
      <a href="{% url 'profile:edit' %}" role="button" class="btn btn-secondary">
	<i class="fa fa-pencil-square-o"></i> {% trans 'Bearbeiten' %}
      </a>
    </div>
  </div>
  {% endif %}
</div>

{% if profile.slogan %}
<p>
  <em>{{ profile.slogan }}</em>
</p>
{% endif %}

<div class="d-flex flex-column flex-md-row">
  <div class="mt-3 me-5">
    <img class="img-thumbnail"
	 alt="{% trans 'Avatar' %}"
	 {% if profile.picture %}
	 src="{{ profile.picture.thumbnail.url }}"
	 {% else %}
	 src="{% static 'img/anonymous.png' %}"
	 {% endif %}
	 >
  </div>

  <div class="mt-3 me-5">
    <ul class="fa-ul">
      <li>
	<i class="fa-li fa fa-fw fa-user-plus" aria-hidden="true"></i>
	{% trans 'seit' %} {{ profile.user.date_joined|date:"d. M Y"}}
      </li>
      {% if show_mail %}
      <li>
	<i class="fa-li fa fa-fw fa-envelope-o" aria-hidden="true"></i>
        {{ profile.user.email|obfuscate_mailto }}
      </li>
      {% endif %}
      {% if show_matrix and profile.matrix_id %}
      <li>
	<i class="fa-li fa fa-fw fa-matrix-org" aria-hidden="true"></i>
	<a href="{{ communication_tool.base_url }}{{ profile.matrix_id }}" target="_blank" rel="noopener noreferrer">
	  {{ profile.matrix_id }}
	</a>
      </li>
      {% endif %}
    </ul>
  </div>

  <div class="mt-3">
    <h4>{% trans 'Initiativen' %}</h4>
    <ul class="list-unstyled">
      {% for ini in initiative_list %}
      <li>
	<a href="{% url 'initiative:detail' ini.pk %}">{{ ini }}</a>
	{% if profile.user == ini.admin %}({% trans 'Admin' %}){% endif %}
      </li>
      {% empty %}
      <li>
	{% trans 'Bisher bei keiner Initiative' %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="interests" class="mt-3 d-flex flex-column flex-md-row">
  {% if show_topics and profile.topics.count %}
  <div class="me-5">
    <h4>{% trans 'Thematische Interessen' %}</h4>
    <ul class="list-inline">
      {% for st in profile.topics.all %}
      <li>
	<a href="{% url 'topic:detail' st.parent.pk %}#{{ st|slugify }}">{{ st }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if show_regions and profile.regions %}
  <div class="">
    <h4>{% trans 'Bezirke' %}</h4>
    <ul class="list-inline">
      {% for region in profile.regions %}
      <li>{{ region }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

{% endblock content %}
