{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load common_tags %}

{% block title %}
{% trans 'Profil bearbeiten' %}
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'bootstrap-select/dist/css/bootstrap-select.min.css' %}" />
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
{% endblock js %}

{% block content %}
<h2>{% trans 'Profil bearbeiten' %} <small>{{ request.user }}</small></h2>

{% if user_form.errors or profile_form.errors %}
<div class="alert alert-secondary alert-dismissible" role="alert">
  {% blocktrans %}
  Dein Profil konnte nicht gespeichert werden. In allen rot markierten Reitern
  sind Fehler aufgetreten. Bitte verbessere diese und versuche es nochmals.
  {% endblocktrans %}
  <button type="button" class="btn-close" data-bs-dismiss="alert"
	  aria-label="{% trans 'Schließen' %}">
  </button>
</div>
{% endif %}

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active {% if user_form.username.errors or user_form.email.errors%}text-danger{% endif %}"
	    data-bs-target="#basics" data-bs-toggle="tab"
	    type="button" role="tab" aria-control="basics">
      {% trans "Grundinfo" %}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link"
	    data-bs-target="#slogan" data-bs-toggle="tab"
	    type="button" role="tab" aria-control="slogan">
      {% trans "Botschaft" %}
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link"
	    data-bs-target="#interests" data-bs-toggle="tab"
	    type="button" role="tab" aria-control="interests">
      {% trans "Interessen" %}
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link"
	    data-bs-target="#privacy" data-bs-toggle="tab"
	    type="button" role="tab" aria-control="privacey">
      {% trans "Privatsphäre" %}
    </button>
  </li>
</ul>

<form enctype="multipart/form-data" method="post" novalidate role="form">
  {% csrf_token %}

  <div class="row mt-3">
    <div class="col-12">
      <div class="tab-content">

	<!-- basics -->
        <div id="basics" class="tab-pane fade show active">
          <h3>{% trans "Grundinfo" %}</h3>

	  <p class="help-block">
            {% blocktrans %}
            Hier machst du Grundangaben zu deiner Person. Unbedingt notwendig
	    sind nur dein Benutzername und deine e-mail Adresse. Die Angabe
	    deines Namens ist optional.
            {% endblocktrans %}
          </p>

	  <div class="form-floating mb-3 required">
	    {{ user_form.username|add_invalid }}
	    <label for="{{ user_form.username.id_for_label }}">
	      {{ user_form.username.label }}
	    </label>
	    <div class="invalid-feedback">
	      {{ user_form.username.errors|join:", " }}
	    </div>
	  </div>

	  <div class="form-floating mb-3 required">
	    {{ user_form.email|add_invalid }}
	    <label for="{{ user_form.email.id_for_label }}">
	      {{ user_form.email.label }}
	    </label>
	    <div class="invalid-feedback">
	      {{ user_form.email.errors|join:", "}}
	    </div>
	  </div>

	  <div class="form-floating mb-3">
	    {{ user_form.first_name }}
	    <label for="{{ user_form.first_name.id_for_label }}">
	      {{ user_form.first_name.label }}
	    </label>
	  </div>

	  <div class="form-floating mb-3">
	    {{ user_form.last_name }}
	    <label for="{{ user_form.last_name.id_for_label }}">
	      {{ user_form.last_name.label }}
	    </label>
	  </div>

	  <div class="form-floating mb-3">
            {{ profile_form.matrix_id }}
            <label for="{{ profile_form.matrix_id.id_for_label }}">
              {{ profile_form.matrix_id.label }}
            </label>
          </div>

          <div class="mb-3">
            <label class="form-label" for="{{ profile_form.picture.id_for_label }}">
	      {{ profile_form.picture.label }}
	    </label>
            {% if profile_form.picture.value %}
            <div class="d-flex">
              <div class="me-3">
                <img src="{{ profile_form.picture.value.thumbnail.url }}" alt="{% trans 'Avatar' %}" class="img-thumbnail">
              </div>
              <div>
                <div class="form-check">
                  <input class="form-check-input" id="picture-clear_id" type="checkbox" name="picture-clear">
                  <label class="form-check-label">
		    {% trans "Löschen" %}
		  </label>
                </div>
                <div class="input-group">
		  <label class="input-group-text" for="id_picture">{% trans "Ändern" %}</label>
		  <input type="file" name="picture" accept="image/*" class="form-control"
			 placeholder="Avator" id="id_picture">
		</div>
	      </div>
            </div>
	    {% else %}
            <div>
              <input type="file" name="picture" accept="image/*" class="form-control"
		     placeholder="Avatar" id="id_picture">
            </div>
            {% endif %}
          </div>

	</div>
	<!-- end basics -->

	<!-- slogan -->
	<div id="slogan" class="tab-pane fade">
	  <h3>{% trans "Meine Botschaft" %}</h3>
	  <p class="help-block">
	    {% blocktrans %}
	    Hier kannst du eine kurze Botschaft (Statement)
	    angeben, der immer bei deinem Profil angezeigt wird. Wenn Du
	    das nicht möchtest, lass das Feld einfach leer.
	    {% endblocktrans %}
	  </p>
	  <div class="form-floating mb-3">
            {{ profile_form.slogan }}
            <label for="{{ profile_form.slogan.id_for_label }}">
              {{ profile_form.slogan.label }}
            </label>
          </div>
	</div>
	<!-- end slogan -->

	<!-- interests -->
	<div id="interests" class="tab-pane fade">
	  <h3>{% trans "Persönliche Interessen" %}</h3>
	  <p class="help-block">
            {% blocktrans %}
            Hier kannst du auswählen, für welche Themen du dich interessierst und
	    in welchen Regionen du "aktiv" bist. Auf dem nächsten Reiter kannst
	    du selbst bestimmen, wer diese persönliche Information sehen darf.
	  </p>
	  <p class="help-block">
	    Diese Auswahl bestimmt, welche Veranstaltungen in deinem persönlichen
	    Kalender angezeigt werden.
            {% endblocktrans %}
          </p>

	  <div class="mb-3">
            <label for="{{ profile_form.topics.id_for_label }}">
              {{ profile_form.topics.label }}
            </label>
            {{ profile_form.topics }}
          </div>

	  <div class="mb-3">
	    <label for="{{ profile_form.regions.id_for_label }}">
	      {{ profile_form.regions.label }}
	    </label>
	    {{ profile_form.regions }}
	  </div>

	</div>
	<!-- end interests -->

	<!-- privacy -->
	<div id="privacy" class="tab-pane fade">
	  <h3>{% trans 'Privatsphäre-Einstellungen' %}</h3>
	  <p class="help-block">
            {% blocktrans %}
	    Willst du dein Profil freischalten?
	    Erlaubst du öffentlichen Zugriff auf dein Profil, kann jede/r
	    Besucher*in folgende persönliche Daten von dir sehen (wenn du diese
	    angegeben hast): deinen Namen, dein Avatar und deine Initiativen.
            {% endblocktrans %}
          </p>

	  <div class="form-floating mb-3">
            {{ profile_form.public }}
            <label for="{{ profile_form.public.id_for_label }}">
              {{ profile_form.public.label }}
            </label>
          </div>

	  <h4>{% trans "Feineinstellungen" %}</h4>
	  <p class="help-block">
	    {% blocktrans %}
	    Hier kannst du festlegen, welche Benutzer*innen deine
	    Email-Adresse, deine [matrix]-ID, die Themen, für die du
	    dich interessierst, und die Bezirke, in denen du "aktiv"
	    bist, angezeigt bekommen.
	    {% endblocktrans %}
	  </p>
	  <div class="form-floating mb-3">
	    {{ profile_form.mail_privacy }}
	    <label for="{{ profile_form.mail_privacy.id_for_label }}">
	      {{ profile_form.mail_privacy.label }}
	    </label>
	  </div>

	  <div class="form-floating mb-3">
	    {{ profile_form.matrix_privacy }}
	    <label for="{{ profile_form.matrix_privacy.id_for_label }}">
	      {{ profile_form.matrix_privacy.label }}
	    </label>
	  </div>

	  <div class="form-floating mb-3">
	    {{ profile_form.topics_privacy }}
	    <label for="{{ profile_form.topics_privacy.id_for_label }}">
	      {{ profile_form.topics_privacy.label }}
	    </label>
	  </div>

	  <div class="form-floating mb-3">
	    {{ profile_form.regions_privacy }}
	    <label for="{{ profile_form.regions_privacy.id_for_label }}">
	      {{ profile_form.regions_privacy.label }}
	    </label>
	  </div>

	</div>
	<!-- end privacy -->

      </div>
      <!-- end tabs -->

      <hr />
      <div class="mt-3">
        <input class="btn btn-primary col-4 col-md-3 col-lg-2 me-2" type="submit" value="{% trans 'Speichern' %}" formnovalidate>
        <input class="btn btn-secondary col-4 col-md-3 col-lg-2" type="cancel" value="{% trans 'Abbrechen' %}" onclick="javascript:window.history.back()">
      </div>
    </div>
  </div>
</form>

{% endblock content %}
