{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Kommunikation' %}{% endblock title %}

{% block js %}
<script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
{% endblock js %}

{% block content %}
<section class="text-center">
  <h1>{% trans 'Kommunikation und Chat' %}</h1>

  <p class="lead">
    Hier kannst Du mit Initiativen und Einzelpersonen direkt in einen
    Chatraum einsteigen und eine Kommunikation starten! Es werden keine
    Daten gesammelt und kommerziell verwertet.
  </p>

  <section class="block-headings">
    <h2>Chatte mit Initiativen und in Deinem Freundeskreis</h2>

    <div class="row">
      <div class="col-sm-4">
	<h3>Eigener Kommunikationsdienst</h3>
	<p>
	  gemeinsam.jetzt betreibt einen öffentlichen matrix-Server, der
	  insbesondere allen Initiativen und engagierten Leuten zur
	  sicheren Kommunikation frei zur Verfügung steht.
	</p>
      </div>
      <div class="col-sm-4">
	<h3>Starte mit dem Chat</h3>
	<p>
	  Du kannst den Chat gleich on-line auf
	  <a href="https://element.gemeinsam.jetzt/"
	     target="_blank">element.gemeinsam.jetzt</a> verwenden. Oder
	  installiere Dir einen eigenen Client
	  (<a href="https://element.io/" target="_blank">download hier</a>).
	</p>
      </div>

      <div class="col-sm-4">
	<h3>Sichere Kommunikation</h3>
	<p>
	  Als Open Source Lösung ist der Client frei von kommerziellen
	  Interessen und ermöglicht, wenn Du das möchtest, eine 100%
	  End-to-End Verschlüsselung.
	</p>
      </div>
    </div>
  </section>

  <p class="lead">
    <a href="/media/uploads/2020/10/01/Schnelleinstieg-ELEMENT_2020-10-04.pdf"
       target="_blank">So einfach geht einsteigen um umzusteigen</a>!
  </p>

  <p>
    Wenn Du es nicht ganz eilig hast, kannst Du Dir auch die
    <a href="/media/uploads/2020/10/01/Guide_ELEMENTmatrix-gemeinsamjetzt_2020-10-04.pdf"
       target="_blank">ausführliche Anleitung</a> durchlesen.
  </p>

  <div class="block-headings">
    <ul class="nav nav-pills flex-row" role="tablist" id="contact-tabs">
      <li class="nav-item" role="presentation">
	<a class="nav-link active" href="#people"
	   data-bs-target="#people" data-bs-toggle="tab"
	   role="tab" aria-controls="people"
	   aria-selected="true">{% trans "Leute" %}</a>
      </li>
      <li class="nav-item" role="presentation">
	<a class="nav-link" href="#initiatives"
	   data-bs-target="#initiatives" data-bs-toggle="tab"
	   role="tab" aria-controls="initiatives"
	   aria-selected="false">{% trans "Initiativen" %}</a>
      </li>
    </ul>

  <div class="tab-content mt-2">
    <div id="people" role="tabpanel" aria-labelledby="people-tab" class="tab-pane fade show active">
      <div class="row">
	{% for user in user_list %}
	{% include 'profiles/card.html' %}
	{% endfor %}
      </div>
    </div>

    <div id="initiatives" role="tabpanel" arial-labelledby="initiative-tab" class="tab-pane fade">
      <p class="help-block">
	{% blocktrans %}
	Dies ist die Liste aller Initiativen, die einen öffentlichen
	matrix-Raum betreiben und/oder deren Mitglieder im
	matrix-Netzwerk registriert sind. Wenn du auf einen Raum- oder Benutzer*innen-Link
	klickst, wirst du über https://matrix.to zu dem entsprechenden Chat geleitet.
	{% endblocktrans %}
      </p>

      <div class="row">
	{% for ini in initiative_list %}
	{% include 'initiative/ini-card.html' %}
	{% endfor %}
      </div>
    </div>

  </div>
</section>
{% endblock content %}
