{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load email_obfuscator %}
{% load rules %}

{% block title %}{% trans 'Mein Konto' %}{% endblock title %}

{% block js %}
<script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
{% endblock js %}

{% block content %}

<h2>{% trans 'Mein Konto' %} <small>{{ user.username }}</small></h2>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active"
       data-bs-toggle="tab" data-bs-target="#profile"
       type="button" role="tab" aria-control="profile"
       aria-selected="true">
      {% trans "Mein Profil" %}
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" href="#initiative"
       data-bs-toggle="tab" data-bs-target="#initiative"
       type="button" role="tab" aria-control="initiative"
       aria-selected="true">
      {% trans "Meine Initiativen" %}
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" href="#event"
       data-bs-toggle="tab" data-bs-target="#event"
       type="button" role="tab" aria-control="event"
       aria-selected="true">
      {% trans "Meine Veranstaltungen" %}
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" href="#location"
       data-bs-toggle="tab" data-bs-target="#location"
       type="button" role="tab" aria-control="location"
       aria-selected="true">
      {% trans "Meine Orte" %}
    </a>
  </li>
</ul>

<div class="tab-content">
  <!-- user profile -->
  <div id="profile" class="tab-pane fade show active">
    <div class="d-flex flex-md-row flex-column-reverse">
      <div>
	<h2>
	  {% if user.first_name or user.last_name %}
	  {{ user.get_full_name }}
	  {% else %}
	  {{ user.username }}
	  {% endif %}
	</h2>
      </div>
      <div class="mt-3 ms-auto">
	<div class="btn-group btn-group-sm" role="group" aria-label="{% trans 'Aktionen' %}">
	  <a href="{% url 'profile:edit' %}" role="button" class="btn btn-secondary">
	    <i class="fa fa-pencil-square-o"></i> {% trans 'Bearbeiten' %}
	  </a>
	  <a href="{% url 'auth_password_change' %}" role="button" class="btn btn-secondary">
	    <i class="fa fa-lock"></i> {% trans 'Passwort ändern' %}
	  </a>
	  <a href="{% url 'profile:delete' %}" role="button" class="btn btn-danger">
	    <i class="fa fa-times"></i> {% trans 'Löschen' %}
	  </a>
	</div>
      </div>
    </div>

    {% if user.profile.slogan %}
    <p>
      <em>{{ user.profile.slogan }}</em>
    </p>
    {% endif %}

    <div class="d-flex flex-column flex-md-row">
      <div class="mt-3 me-5">
	<img class="img-thumbnail"
	     alt="{% trans 'Avatar' %}"
	     {% if user.profile.picture %}
	     src="{{ user.profile.picture.thumbnail.url }}"
	     {% else %}
	     src="{% static 'img/anonymous.png' %}"
	     {% endif %}
	     >
      </div>

      <div class="mt-3">
	<ul class="fa-ul">
	  <li>
	    <i class="fa-li fa fa-fw fa-user-plus" aria-hidden="true"></i>
	    {% trans 'seit' %} {{ user.profile.user.date_joined|date:"d. M Y"}}
	  </li>
	  <li>
	    <i class="fa-li fa fa-fw fa-envelope-o" aria-hidden="true"></i>
            {{ user.profile.user.email|obfuscate_mailto }}
	  </li>

	  {% if user.profile.matrix_id %}
	  <li>
	    <i class="fa-li fa fa-fw fa-matrix-org" aria-hidden="true"></i>
	    <a href="{{ communication_tool.base_url }}{{ user.profile.matrix_id }}" target="_blank" rel="noopener noreferrer">
	      {{ user.profile.matrix_id }}
	    </a>
	  </li>
	  {% endif %}

	  <li>
	    <i class="fa-li fa fa-fw fa-calendar" aria-hidden="true"></i>
	    <a href="{% url 'profile:my-events' %}">
	      {% trans 'Persönlicher Veranstaltungskalender' %}
	    </a>
	  </li>
	</ul>
      </div>
    </div>

    <div class="mt-3 d-flex flex-column flex-md-row">
      {% if user.profile.topics %}
      <div class="me-5">
	<h4>{% trans 'Meine Interessen' %}</h4>
	<ul class="list-inline">
	  {% for st in user.profile.topics.all %}
	  <li>
	    <a href="{% url 'topic:detail' st.parent.pk %}#{{ st|slugify }}">{{ st }}</a>
	  </li>
	  {% endfor %}
	</ul>
      </div>
      {% endif %}

      {% if user.profile.regions %}
      <div>
	<h4>{% trans 'Meine Bezirke' %}</h4>
	<ul class="list-inline">
	  {% for region in user.profile.regions %}
	  <li>{{ region }}</li>
	  {% endfor %}
	</ul>
      </div>
      {% endif %}
    </div>
  </div>
  <!-- end user profile -->

  <!-- user initiatives -->
  <div id="initiative" class="tab-pane fade">
    <div class="d-flex flex-md-row flex-column-reverse">
      <div>
	<h2>
	  {% trans "Meine Initiativen" %}
	</h2>
      </div>
      <div class="mt-3 ms-auto">
	<div class="btn-group btn-group-sm" role="group" aria-label="{% trans 'Aktionen' %}">
	  <a href="{% url 'initiative:add' %}" role="button" class="btn btn-secondary">
	    <i class="fa fa-plus-square-o"></i> {% trans 'Initiative hinzufügen' %}
	  </a>
	</div>
      </div>
    </div>

    <ul class="list-group">
      {% for ini in initiative_list %}
      <li class="list-group-item">
	<div class="d-flex justify-content-between">
	  <div class="align-self-center">
	    {% if ini.published or ini.admin == user %}
	    <a href="{% url 'initiative:detail' ini.pk %}">{{ ini }}</a>
	    {% else %}
	    {{ ini }}
	    {% endif %}
	    {% if ini.admin == user %}(Admin){% endif %}
	    {% if not ini.published %}
	    <span class="ms-1 align-text-top badge bg-secondary badge-pill">{% trans 'nicht veröffentlicht' %}</span>
	    {% endif %}
	  </div>

	  <div>
	    <div class="align-items-center btn-group" role="group" aria-label="{% trans 'Aktionen' %}">
	      {% has_perm 'initiative.change_initiative' request.user ini as can_change_initiative %}
	      {% if can_change_initiative %}
	      {% if not ini.topics.all %}
	      <a class="link-warning" href="{% url 'initiative:edit' ini.pk %}?tab=topics">
		{% trans 'Themen hinzufügen' %}
	      </a>
	      {% endif %}
	      <a class="btn btn-default" href="{% url 'initiative:edit' ini.pk %}"
		 title="{% trans 'Bearbeiten' %}">
		<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
	      </a>
	      {% endif %}
	      {% has_perm 'initiative.add_event' request.user ini as can_add_event %}
	      {% if can_add_event %}
	      <a class="btn btn-default" href="{% url 'event:add-event' ini.pk %}"
		 title="{% trans 'Veranstaltung hinzufügen' %}">
		<i class="fa fa-calendar" aria-hidden="true"></i>
	      </a>
	      {% endif %}
	    </div>
	  </div>
	</div>
      </li>
      {% empty %}
      <li class="list-group-item">{% trans 'Bisher noch keine Initiative' %}</li>
      {% endfor %}
    </ul>
  </div>
  <!-- end user initiatives -->

  <!-- user events -->
  <div id="event" class="tab-pane fade">
    <h2>{% trans "Veranstaltungen" %} <small>{% trans "nach Initiativen geordnet" %}</small></h2>

    {% regroup event_list by initiative as ini_list %}
    <div class="accordion" id="ini-events">
      {% for ini in ini_list %}
      <div class="accordion-item">
	<h3 class="accordion-header" id="heading-{{ ini.grouper|slugify }}">
	  <button class="accordion-button" type="button"
		  data-bs-toggle="collapse" data-bs-target="#body-{{ ini.grouper|slugify }}"
		  aria-expanded="true" aria-controls="body-{{ ini.grouper|slugify }}">
	    {{ ini.grouper }}
	  </button>
	</h3>
	<div id="body-{{ ini.grouper|slugify }}" class="accordion-collapse collapse show"
	     aria-labelledby="heading-{{ ini.grouper|slugify }}">
	  <div class="accordion-body">
	    {% has_perm 'initiative.add_event' request.user ini.grouper as can_add_event %}
	    {% if can_add_event %}
	    <div class="d-flex mb-2">
	      <div class="ms-auto">
		<div class="btn-group btn-group-sm" role="group" aria-label="{% trans 'Aktionen' %}">
		  <a href="{% url 'event:add-event' ini.grouper.pk %}" role="button" class="btn btn-secondary">
		    <i class="fa fa-plus-square-o"></i> {% trans 'Veranstaltung hinzufügen' %}
		  </a>
		</div>
	      </div>
	    </div>
	    {% endif %}

	    <ul class="list-group">
	      {% for event in ini.list %}
	      <li class="list-group-item">
		<div class="d-flex flex-md-row flex-column justify-content-between">
		  <div class="align-self-md-center">
		    <a href="{% url 'event:detail' event.pk %}">{{ event }}</a>
		    {% if not event.published %}
		    <i class="fa fa-eye-slash text-warning" title="{% trans 'nicht veröffentlicht' %}" aria-hidden="true"></i>
		    {% endif %}
		  </div>
		  <div class="d-flex justify-content-between">
		    <div class="align-self-center">
		      {% if event.recurring %}
		      <span class="me-1">
			<i class="fa fa-repeat"></i>
		      </span>
		      <span>
			{% if event.next_occurrence %}
			{{ event.next_occurrence.start_time }}
			{% endif %}
		      </span>
		      {% else %}
		      <span>
			{{ event.start_time }}
		      </span>
		      {% endif %}
		    </div>
		    <div class="align-items-center btn-group" role="group" aria-label="{% trans 'Aktionen' %}">
		      {% has_perm 'event.change_event' request.user event as can_edit_event %}
		      {% if can_edit_event %}
		      {% if not event.topics.all %}
		      <a class="ms-2 link-warning" href="{% url 'event:edit-event' event.pk %}?tab=topics">
			{% trans 'Themen hinzufügen' %}
		      </a>
		      {% endif %}
		      <a class="btn btn-default" href="{% url 'event:edit-event' event.pk %}"
			 title="{% trans 'Veranstaltung bearbeiten' %}">
			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		      </a>
		      {% endif %}
		    </div>
		  </div>
		</div>
	      </li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- end user events -->

  <!-- location tab -->
  <div id="location" class="tab-pane fade">
    <div class="d-flex flex-md-row fles-column-reverse">
      <div>
	<h2>
	  {% trans "Meine Orte" %} <small>{% trans "nach Städten geordnet" %}</small>
	</h2>
      </div>
      <div class="mt-3 ms-auto">
	<div class="btn-group btn-group-sm" role="group" aria-label="{% trans 'Aktionen' %}">
	  <a href="{% url 'location:add' %}" role="button" class="btn btn-secondary">
	    <i class="fa fa-plus-square-o"></i> {% trans 'Ort hinzufügen' %}
	  </a>
	</div>
      </div>
    </div>

    {% regroup location_list by city as city_list %}
    <div class="accordion" id="my-locations">
      {% for city in city_list %}
      <div class="accordion-item">
	<h3 class="accordion-header" id="heading-{{ city.grouper|slugify }}">
	  <button class="accordion-button" type="button"
		  data-bs-toggle="collapse" data-bs-target="#body-{{ city.grouper|slugify }}"
		  aria-expanded="true" aria-controls="body-{{ city.grouper|slugify }}">
	    {{ city.grouper }}
	  </button>
	</h3>
	<div id="body-{{ city.grouper|slugify }}" class="accordion-collapse collapse show"
	     aria-labelledby="heading-{{ city.grouper|slugify }}">
	  <div class="accordion-body">
	    <ul class="list-group">
	      {% for location in city.list %}
	      <li class="list-group-item">
		<div class="d-flex flex-md-row flex-column justify-content-between">
		  <div class="align-self-md-center">
		    <a href="{% url 'location:detail' location.pk %}">
		      {% if location.name %}<strong>{{ location.name }}</strong><br/>{% endif %}
		      {{ location.address_formatted }}
		      ({{ location.coords_formatted }})
		    </a>
		  </div>

		  <div class="d-flex justify-content-between">
		    <div class="align-self-center">
		      {% if location.num_ini > 0 %}
		      <span class="badge bg-secondary">
			{% blocktrans count num_ini=location.num_ini %}
			{{ num_ini }} Initiative
			{% plural %}
			{{ num_ini }} Initiativen
			{% endblocktrans %}
		      </span>
		      {% endif %}
		      {% if location.num_ev > 0 %}
		      <span class="badge bg-secondary ms-1">
			{% blocktrans count num_ev=location.num_ev %}
			{{ num_ev }} Veranstaltung
			{% plural %}
			{{ num_ev }} Veranstaltungen
			{% endblocktrans %}
		      </span>
		      {% endif %}
		    </div>
		    <div class="align-self-center btn-group" role="group" aria-label="{% trans 'Aktionen' %}">
		      <a class="btn btn-default" href="{% url 'location:edit' location.pk %}"
			 title="{% trans 'Ort bearbeiten' %}">
			<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		      </a>
		    </div>
		  </div>
		</div>
	      </li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- end location tab -->

</div>
{% endblock content %}
