{% if initiative_list %}
<ul class="list-unstyled">
    {% for ini in initiative_list %}
    <li>
	<a href="{% url 'initiative:detail' ini.pk %}">{{ ini }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
