{% load email_obfuscator %}
{% if email or matrix_id %}
<ul class="list-unstyled">
  {% if email %}
  <li>
    {{ email|obfuscate_mailto }}
  </li>
  {% endif %}
  {% if matrix_id %}
  <li>
    <a href="{{ communication_tool.base_url }}{{ matrix_id }}" target="_blank" rel="noopener noreferrer">
      {{ matrix_id }}
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
