{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Newsletter" %}{% endblock %}

{% block content %}
<h1>{% trans "Newsletter" %}</h1>

{% if form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Schließen' %}">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ form.non_field_errors.0 }}
</div>
{% endif %}

{% if messages %}
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Schließen' %}">
    <span aria-hidden="true">&times;</span>
  </button>
  {% for message in messages %}
  {% if forloop.last %}
  {{ message }}
  {% endif %}
  {% endfor %}
</div>
{% endif %}

<form action="." method="post" role="form">
  {% csrf_token %}

  <div class="row">
    <div class="col-xs-12">
      <p class="help-block">
	{% blocktrans %}
	Hier kannst du dich zum gemeinsam.jetzt Newsletter anmelden.
	Wenn Du deine e-Mail Adresse hier angibst, wirst du bis auf Widerruf
	Informationen von gemeinsam.jetzt per e-Mail erhalten. In
	jeder dieser mails findest du einen link zum Abmelden.
	{% endblocktrans %}
      </p>

      <div class="form-group required {% if form.email.errors %}has-error{% endif %}">
	<label for="{{ form.email.id_for_label }}" class="control-label">
	  {{ form.email.label }}
	</label>
	{{ form.email }}
      </div>

      <div class="form-group required">
	<label for="{{ form.email.id_for_label }}" class="control-label">
	  {% trans "Aktion" %}
	</label>
	{{ form.action }}
      </div>

      <hr/>
      <div class="form-group">
	<div class="pull-right">
	  <input class="btn btn-success" type="submit" value="{% trans 'Speichern' %}" formnovalidate>
	  <input class="btn btn-warning" type="cancel" value="{% trans 'Abbrechen' %}" onclick="javascript:window.history.back()">
	</div>
      </div>
    </div>
  </div>

  <script>
    $("#{{ form.email.auto_id }}").addClass('form-control').focus();
    $("#{{ form.action.auto_id }}").addClass('list-inline');

  </script>
</form>
{% endblock %}
