{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Newsletter" %}{% endblock %}

{% block content %}
<section>
  <h1>{% trans "Newsletter" %}</h1>

  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-success">
	{% blocktrans %}
	Du hast dich erfolgreich bei unserem Newsletter angemeldet.
	Du kannst dich jederzeit wieder abmelden, indem du die Newsletter-Seite
	erneut besuchst.
	{% endblocktrans %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
