{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12">
    <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto" style="width: 30rem;">
      <h3 class="card-header display-1 text-muted text-center">
        404
      </h3>

      <span class="card-subtitle my-2 text-muted text-center">
        {% trans "Seite nicht gefunden" %}
      </span>

      <div class="card-body mx-auto">
        <button type="button" onclick="history.back()"
           class="btn btn-sm btn-secondary text-white">{% trans "Zurück" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
