{% load static %}
{% load compress %}
{% load i18n %}
{% load cookielaw_tags %}
{% load common_tags %}
<!DOCTYPE html>
<html lang="de" {% block htmlattr %}{% endblock htmlattr %}>
  <head>
    <title>{% block title %}{{ appearance.title|default:"Gemeinsam Jetzt" }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="AJGvlQuN3YWzRYa4xDSplC1eXiYF1sZE11Ks5NMIdyw" />
    {% block extra_head %}{% endblock %}

    {% if appearance.favicon %}
    <link rel="icon" type="image/x-icon" href="{{ appearance.favicon.favicon.url }}?v={{ appearance.update|date:'Ymd' }}"/>
    {% elif appearance.logo %}
    <link rel="icon" type="image/x-icon" href="{{ appearance.logo.favicon.url }}?v={{ appearance.update|date:'Ymd' }}"/>
    {% else %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}?v=1.0"/>
    {% endif %}

    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/theme.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'fork-awesome/css/fork-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/cookielaw.css' %}"/>
    {% block css %}{% endblock %}

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  </head>

  <body>
    {% cookielaw_banner %}
    <div id="top" class="sticky-top d-print-none">
      <nav class="navbar navbar-expand navbar-light bg-light" id="login-bar">
	<div class="container">
	  <form class="d-flex" action="{% url 'watson:search' %}">
	    <div class="input-group">
	      <input type="text" class="form-control form-control-sm"
		     name="q" placeholder='{% trans "Themen, Initiativen ..." %}'>
	      <button class="btn btn-primary" type="submit">
		<i class="fa fa-search" aria-hidden="true"></i>
	      </button>
	    </div>
	  </form>

	  <ul class="nav nav-pills">
            {% if user.is_authenticated %}
            <li role="presentation" class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#"
		 data-bs-toggle="dropdown" aria-expanded="false">
		{% if user.profile.picture %}
		<img class="img-rounded" width="24" height="24" alt="{% trans 'Avatar' %}"
		     src="{{ user.profile.picture.mini.url }}">
		&nbsp;&nbsp;
		{% endif %}
		{{ user.get_full_name|default:user.username }}
	      </a>

	      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-menu">
		<li>
		  <a class="dropdown-item" href="{% url 'profile:myself' %}">{% trans "Mein Profil" %}</a>
		</li>
		<li>
		  <a class="dropdown-item" href="{% url 'profile:myself' %}#initiative">{% trans "Meine Initiativen" %}</a>
		</li>
		<li>
		  <a class="dropdown-item" href="{% url 'profile:myself' %}#event">{% trans "Meine Veranstaltungen" %}</a>
		</li>
		<li>
		  <a class="dropdown-item"
		     href="{% url 'profile:myself' %}#location">{% trans "Meine Orte" %}</a>
		</li>
		{% if user.is_staff %}
		<li role="separator" class="dropdown-divider"></li>
		<li>
		  <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
		</li>
		{% endif %}
		<li role="separator" class="dropdown-divider"></li>
		<li>
		  <a class="dropdown-item" href="{% url 'auth_logout' %}">{% trans 'Ausloggen' %}</a>
		</li>
	      </ul>
            </li>
	    {% else %}
	    <li role="presentation" class="nav-item dropdown d-md-none">
	      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
		<i class="fa fa-user"></i>
	      </a>
	      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-menu">
		<li>
		  <a class="dropdown-item" href="{% url 'auth_login' %}">{% trans 'Einloggen' %}</a>
		</li>
		<li><hr class="dropdown-divider"></li>
		<li>
		  <a class="dropdown-item" href="{% url 'registration_register' %}">{% trans 'Registrieren' %}</a>
		</li>
	      </ul>
	    </li>
	    <li class="nav-item d-none d-md-inline">
	      <a class="nav-link" href="{% url 'auth_login' %}">{% trans 'Einloggen' %}</a>
	    </li>
            <li class="nav-item d-none d-md-inline">
	      <a class="nav-link" href="{% url 'registration_register' %}">{% trans 'Registrieren' %}</a>
	    </li>
            {% endif %}
          </ul>
	</div>
      </nav>

      <nav id="header-nav" class="color-bar">
	<div class="container">
          <!-- MOBILE NAV -->
          <div class="navbar d-md-none">
            <!-- Brand and toggle get grouped for better mobile display -->
	    <a class="navbar-brand me-auto" href="/">
	      <img height="35" src="{% if appearance.logo %}{{ appearance.logo.standard.url }}{% else %}{% static 'img/gemeinsam_logo.png' %}{% endif %}">
	    </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                    data-bs-target="#main-menu" aria-controls="main-menu"
		    aria-expanded="false" aria-label="{% trans 'Hauptmenü' %}">
	      <span>
		<i class="fa fa-bars fa-2x"></i>
	      </span>
            </button>
	  </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse" id="main-menu">
	    <ul class="navbar-nav">
	      <li class="nav-item">
                <a href="{% url 'topic:index' %}">
                  <h3><i class="fa fa-globe"></i> Themen</h3>
                </a>
	      </li>
	      <li class="nav-item">
                <a href="{% url 'event:calendar' %}">
                  <h3><i class="fa fa-calendar"></i> Kalender</h3>
                </a>
	      </li>
	      <li class="nav-item">
                <a href="{% url 'initiative:index' %}">
                  <h3><i class="fa fa-users"></i> Initiativen</h3>
                </a>
	      </li>
	      <li class="nav-item">
                <a href="{% url 'about-us' %}">
                  <h3><i class="fa fa-heartbeat"></i> Wir</h3>
                </a>
	      </li>
	      <li class="nav-item">
                <a href="{% url 'profile:index' %}">
                  <h3><i class="fa fa-commenting-o"></i> reden</h3>
                </a>
		</li>
	      <li class="nav-item">
                <a href="{% url 'participate' %}">
                  <h3><i class="fa fa-user-plus"></i> mit</h3>
                </a>
		</li>
	    </ul>
	  </div>

          <!-- DESKTOP NAV -->
          <div class="nav-table d-none d-md-table">
            <div class="nav-row">
              <div class="nav-cell">
		<a href="{% url 'topic:index' %}" title="Themen">
                  <i class="fa fa-globe fa-3x"></i>
                  <h3>Themen</h3>
		</a>
              </div>
              <div class="nav-cell">
		<a href="{% url 'event:calendar' %}" title="Kalender">
                  <i class="fa fa-calendar fa-3x"></i>
                  <h3>Kalender</h3>
		</a>
              </div>
              <div class="nav-cell">
		<a href="{% url 'initiative:index' %}" title="Initiativen">
                  <i class="fa fa-users fa-3x"></i>
                  <h3>Initiativen</h3>
		</a>
              </div>
              <div class="nav-cell">
		<a href="/" id="logo">
                  <img src="{% if appearance.logo %}{{ appearance.logo.standard.url }}{% else %}{% static 'img/gemeinsam_logo.png' %}{% endif %}" class="" alt="Logo" title="Logo">
		</a>
              </div>

              <div class="nav-cell">
		<a href="{% url 'about-us' %}" title="Wir">
                  <i class="fa fa-heartbeat fa-3x"></i>
                  <h3>Wir</h3>
		</a>
              </div>
              <div class="nav-cell">
		<a href="{% url 'profile:index' %}" title="Reden">
                  <i class="fa fa-commenting-o fa-3x"></i>
                  <h3>reden</h3>
		</a>
              </div>
              <div class="nav-cell">
		<a href="{% url 'participate' %}" title="Mit">
                  <i class="fa fa-user-plus fa-3x"></i>
                  <h3>mit</h3>
		</a>
              </div>
            </div>
          </div>
	</div>
      </nav>
    </div>

    <div class="container" id="content">
      {% block content %}{% endblock %}
    </div>

    <div class="d-none">
      <a rel="me" href="https://graz.social/@gemeinsampunktjetzt">Mastodon</a>
    </div>

    <div id="footer" class="d-print-none">
      <!-- footer first nav -->
      <nav class="navbar navbar-expand-md color-bar footer-upper-nav fs-5">
        <div class="container">
	  <div class="d-flex justify-content-between w-100" id="upper-menu">
            <ul class="navbar-nav">
	      {% for item in menu_above.menuentry_set.all %}
	      {% if item.order < 0 %}
	      <li class="nav-item">
		{% if item.link %}
		<a class="nav-link" href="{{ item.link }}"{% if item.link|slice:":4" == "http" %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ item.text|safe }}</a>
		{% else %}
		<span class="nav-link">{{ item.text|safe }}</span>
		{% endif %}
	      </li>
	      {% endif %}
	      {% endfor %}
            </ul>
            <ul class="navbar-nav">
	      {% for item in menu_above.menuentry_set.all %}
	      {% if item.order >= 0 %}
	      <li class="nav-item ms-auto text-end">
		{% if item.link %}
		<a class="nav-link" href="{{ item.link }}"{% if item.link|slice:":4" == "http" %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ item.text|safe }}</a>
		{% else %}
		<span class="nav-link">{{ item.text|safe }}</span>
		{% endif %}
	      </li>
	      {% endif %}
	      {% endfor %}
            </ul>
	  </div>
	</div>
      </nav>

      <!-- topics -->
      <div id="footer-topics">
        <div class="container">
          <div class="d-flex flex-row justify-content-evenly">
            {% for topic in topic_list %}
            <div>
              <p>
                <a href="{% url 'topic:detail' topic.pk %}">
                  <img class="icon-secondary" src="{{ topic.icon.small.url }}" alt="{{ topic }}">
                </a>
              </p>
              <p class="d-none d-md-block fs-5">
                <a href="{% url 'topic:detail' topic.pk %}">{{ topic|upper }}</a>
              </p>
              <p class="d-none d-lg-block fs-6">
                {% for st in topic.subtopic_set.all %}
                <a class=''
                   href="{% url 'topic:detail' topic.pk %}#{{ st|slugify }}">{{ st.name|nbsp }}</a><br/>
                {% endfor %}
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- lower menu -->
      <nav class="navbar navbar-expand-md color-bar fs-5">
        <div class="container">
	  <div class="d-flex justify-content-between w-100" id="lower-menu">
            <ul class="navbar-nav">
	      {% for item in menu_below.menuentry_set.all %}
	      {% if item.order < 0 %}
	      <li class="nav-item">
		{% if item.link %}
		<a class="nav-link" href="{{ item.link }}"{% if item.link|slice:":4" == "http" %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ item.text|safe }}</a>
		{% else %}
		<span class="nav-link">{{ item.text|safe }}</span>
		{% endif %}
	      </li>
	      {% endif %}
	      {% endfor %}
            </ul>
            <ul class="navbar-nav">
	      {% for item in menu_below.menuentry_set.all %}
	      {% if item.order >= 0 %}
	      <li class="nav-item ms-auto text-end">
		{% if item.link %}
		<a class="nav-link" href="{{ item.link }}"{% if item.link|slice:":4" == "http" %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ item.text|safe }}</a>
		{% else %}
		<span class="nav-link">{{ item.text|safe }}</span>
		{% endif %}
	      </li>
	      {% endif %}
	      {% endfor %}
            </ul>
          </div>
	</div>
      </nav>
    </div>

    <div id="side-buttons" class="d-print-none">
      <div class="d-flex flex-md-column flex-row">
	<a class="btn btn-primary" href="/participate/" role="button"><i class="fa fa-user-plus"></i> Mitmachen</a>
	<a class="btn btn-secondary" href="/pages/support/" role="button"><img class="align-middle" src="{% static 'img/donate.png' %}"> Spenden</a>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cookielaw.js' %}"></script>
    <script type="text/javascript" src="{% static '@popperjs/core/dist/umd/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    {% block js %}{% endblock %}

    <script type="text/javascript" src="{% static 'js/scroll.js' %}"></script>

    {% if MATOMO_SERVER %}
    <!-- Matomo -->
    <input type="hidden" id="matomo" value="{{ MATOMO_SERVER }}">
    <script type="text/javascript" src="{% static 'js/matomo.js' %}"></script>
    {% endif %}
  </body>
</html>
