{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ appearance.title|default:"Gemeinsam Jetzt" }}{% endblock title %}

{% block js %}
<script type="text/javascript" src="{% static 'js/clamp.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/clamp.js' %}"></script>
{% endblock js %}


{% block content %}
<div class="front-page">
  <h1>
    {{ appearance.motto|default:"Ge&shy;stal&shy;ten wir un&shy;sere Zu&shy;kunft!" }}
  </h1>
  <h5>
    Achtsamkeit ⋅ Menschenwürde ⋅ Partizipation ⋅ Solidarität ⋅ Zukunftsfähigkeit
  </h5>

  <h2>
    Informieren - Inspirieren - Mitmachen
  </h2>

  <h4>Los geht&apos;s</h4>
  <h3>&gt;Hier Initiativen, Projekte und Gruppen finden&lt;</h3>

  <div class="row mb-5 gy-5 text-center text-uppercase" id="circles">
    <div class="col-12 col-md-4">
      <div class="position-relative">
	<a href="{% url 'topic:index' %}">
	  <img class="icon-primary" src="{% static 'img/circle.png' %}" width="80%"/>
	  <img class="icon-secondary centered" src="{% static 'img/topics.png' %}" width="40%"/>
	</a>
      </div>
      <a href="{% url 'topic:index' %}">
	<h2 class="">{% trans 'Themen' %}</h2>
      </a>
    </div>
    <div class="col-12 col-md-4">
      <div class="position-relative">
	<a href="{% url 'initiative:map' %}">
	  <img class="icon-primary" src="{% static 'img/circle.png' %}" width="80%"/>
	  <img class="icon-secondary centered" src="{% static 'img/regions.png' %}" width="60%"/>
	</a>
      </div>
      <a href="{% url 'initiative:map' %}">
	<h2 class="">{% trans 'Regionen' %}</h2>
      </a>
    </div>
    <div class="col-12 col-md-4">
      <div class="position-relative">
	<a href="{% url 'initiative:index' %}">
	  <img class="icon-primary" src="{% static 'img/circle.png' %}" width="80%"/>
	  <img class="icon-secondary centered" src="{% static 'img/initiative.png' %}" width="40%"/>
	</a>
      </div>
      <a href="{% url 'initiative:index' %}">
	<h2 class="">{% trans 'Initiativen' %}</h2>
      </a>
    </div>
  </div>

  <section id="front-page-search" class="mt-4">
    <div class="row justify-content-center">
      <div class="col-10">
	<form action="{% url 'watson:search' %}">
	  <div class="input-group">
	    <input type="text" class="form-control input-lg"
		   name="q" placeholder='{% trans "Themen, Veranstaltungen, Initiativen, ..." %}'>
            <button class="btn btn-primary" type="submit">
	      <i class="fa fa-search" aria-hidden="true"></i>
            </button>
	  </div>
	</form>
      </div>
    </div>
  </section>

  {% if initiative_list %}
  <h4>{% trans "Initiativen des Tages" %}</h4>
  <div class="row">
    {% for ini in initiative_list %}
    {% include 'initiative/card.html' %}
    {% endfor %}
  </div>
  {% endif %}


  <h4>{% trans 'Wir machen dei&shy;ne Ini&shy;tia&shy;tive & dein En&shy;ga&shy;ge&shy;ment sicht&shy;bar' %}</h4>
  <img class="img-fluid" src="{% static 'img/fingers.png' %}" alt="Finger">
  <h3>Du bist eine Initiative oder Gruppe und möchtest Dich hier eintragen?</h3>
  <div class="text-primary fs-3 d-flex flex-column flex-sm-row justify-content-around">
    <div class="flex-even">
      1
      <div>Registriere dich als Person</div>
      <a class="btn btn-secondary" href="{% url 'registration_register' %}">
	{% trans 'Registrieren' %}
      </a>
    </div>
    <div class="flex-even">
      2
      <div>Lege dann deine Initiative, Projekt oder Gruppe an</div>
      <a class="btn btn-secondary" href="{% url 'initiative:add' %}">
	{% trans 'Initiative anlegen' %}
      </a>
    </div>
    <div class="flex-even">
      3
      <div>
	Wir prüfen ganz kurz, ob Ihr zu den Haltungen und Zielen von gemeinsam.jetzt passt
      </div>
    </div>
  </div>
  <div class="fs-3 text-primary">
    Keine Kosten - Keine Werbung - Kein Datenmissbrauch - Unabhängig
  </div>

  <h4>Mit&shy;ei&shy;nan&shy;der re&shy;den</h4>
  <img class="img-fluid" src="{% static 'img/communicate.png' %}" alt="Miteinander reden">
  <div class="text-primary fs-3 lh-sm d-flex flex-column flex-sm-row justify-content-around">
    <div class="flex-even">
      <div class="mb-2">Videokonferenzen für Gruppen</div>
      <div class="mb-2">Oder Videotelefonie mit einer Person</div>
      <div class="mb-2">Direkt im Browser</div>
      <a class="btn btn-secondary" href="https://jitsi.gemeinsam.jetzt" target="_blank">jitsi</a>
    </div>
    <div class="flex-even">
      <div class="mb-2">Handy, Laptop, Webbrowser</div>
      <div class="mb-2">Du brauchst keine Telefonnummer</div>
      <a class="btn btn-secondary" href="https://element.gemeinsam.jetzt" target="_blank">element</a>
      <a class="btn btn-secondary" href="/media/uploads/2020/10/01/Guide_ELEMENTmatrix-gemeinsamjetzt_2020-10-04.pdf">Anleitung</a>
    </div>
    <div class="flex-even">
      <div class="mb-2">Einfach und schnell</div>
      <div class="mb-2">Zeitgleich gemeinsam bearbeiten</div>
      <div class="mb-2">Von <a class="text-secondary" href="https://info.graz.social" target="_blank">graz.social</a> freundlich zur Verfügung gestellt</div>
      <a class="btn btn-secondary" href="https://pad.graz.social" target="_blank">etherpad</a>
    </div>
  </div>
  <div class="fs-3 text-primary">
    Alle 3 Tools sind datensicher, kostenlos & Open Source!
  </div>

  <h4 class="text-break">wir.gemeinsam.jetzt</h4>
  <img class="img-fluid" src="{% static 'img/team.png' %}" alt="Team">
  <div class="text-primary fs-3 lh-sm row">
    <div class="col-12 col-md-6">
      <h6>Ziele</h6>
      <div class="mb-2">Räume der Begegnung</div>
      <div class="mb-2">Sichtbarmachen von Initiativen</div>
      <div class="mb-2">Gemeinsame Entwicklung der Angebote</div>
    </div>
    <div class="col-12 col-md-6">
      <h6>Angebot</h6>
      <div class="mb-2">Webplattform</div>
      <div class="mb-2">Kommunikationstools</div>
      <div class="mb-2">Regionale Initiativen-Vernetzung</div>
      <div class="mb-2">Begleitung gemeinsamer Entscheidungsfindung</div>
    </div>
    <div class="col-12 col-md-6">
      <h6>Unterstütze!</h6>
      <div class="mb-2">Zeit & Engagement</div>
      <div class="mb-2">
	<a class="text-secondary" href="/pages/support">Spenden</a>
	<br/>
	<strong>IBAN: AT32 2081 5000 4138 1021</strong><br>
	BIC: STSPAT2GXXX
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h6>Fragen?</h6>
      <div class="mb-2">
	Mail:
	<a class="text-secondary" href="mailto:wir@gemeinsam.jetzt">
	  wir@gemeinsam.jetzt
	</a>
      </div>
      <div class="mb-2">
	Matrix:
	<a class="text-secondary" target="_blank" href="https://matrix.to/#/#sgj:gemeinsam.jetzt">
	  #sgj:gemeinsam.jetzt
	</a>
      </div>
      <div class="mb-2">
	<a class="text-secondary" href="/faq">Häufig gestellte Fragen</a>
      </div>
    </div>
  </div>

</div>

{% endblock content %}
