<div class="col-md-4 col-12 mb-3 px-2">
  <div class="card border-0 h-100">
    <h2>
      <a href="{% url 'topic:detail' topic.pk %}">{{ topic }}
	<img class="icon-secondary align-baseline" src="{{ topic.icon.small.url }}"
	     alt="{{ topic }}" height="28">
      </a>
    </h2>

    <a href="{% url 'topic:detail' topic.pk %}">
      <img src="{{ topic.photo.medium.url }}" width="100%" alt="{{ topic }}">
    </a>

    <div class="card-body">
      <ul class="list-inline">
	{% for st in topic.subtopic_set.all %}
	<li class="list-inline-item">
	  <a class="lead" href="{% url 'topic:detail' st.parent.pk %}#{{ st|slugify }}">{{ st }}</a>
	</li>
	{% endfor %}
      </ul>
    </div>
  </div>
</div>
