{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load common_tags %}

{% block title %}{% trans 'Thema' %} {{ topic }}{% endblock title %}

{% block js %}
<script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/clamp.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/clamp.js' %}"></script>
{% endblock js %}

{% block content %}
<section class="text-center">
  <h1>{{ topic }}</h1>
  <img class="icon-secondary float-start me-4" src="{{ topic.icon.medium.url }}" alt="{{ topic }}">
  <p class="lead text-start">
    {{ topic.description }}
  </p>

  <div class="block-headings">
    <h2>
      {% trans 'Aktive Initiativen' %}
    </h2>

    <ul class="nav nav-pills nav-fill flex-column flex-lg-row" id="subtopics-tabs" role="tablist">
      <li class="nav-item" role="presentation">
	<a class="nav-link active" id="alle-tab" data-bs-toggle="tab" data-bs-target="#alle"
	   href="#alle" role="tab" aria-controls="alle" aria-selected="true">
	  <span class="me-1">{% trans 'Alle' %}</span>
	  <span class="badge bg-secondary">
	    {{ topic.initiative_list|length }}
	  </span>
	</a>
      </li>
      {% for st in topic.subtopic_set.all %}
      <li class="nav-item" role="presentation">
	<a class="nav-link"
	   id="{{ st|slugify }}-tab"
	   data-bs-toggle="tab"
	   data-bs-target="#{{ st|slugify }}"
	   href="#{{ st|slugify }}"
	   role="tab"
	   aria-controls="{{ st|slugify }}"
	   aria-selected="false">
	  <span class="me-1">{{ st.name }}</span>
	  <span class="badge bg-secondary">
	    {{ st.published_initiatives.count }}
	  </span>
	</a>
      </li>
      {% endfor %}
    </ul>

    <div class="tab-content mt-2" id="st-content">
      <div id="alle" role="tabpanel" aria-labelledby="alle-tab" class="tab-pane fade show active">
	<div class="row">
	  {% for ini in topic.initiative_list %}
	  {% include 'initiative/card.html' %}
	  {% empty %}
	  <div class="col-xs-12">
	    <p class="alert alert-warning">
	      {% trans 'Bisher gibt es keine Initiative zu diesem Thema.' %}
	    </p>
	  </div>
	  {% endfor %}
	</div>
      </div>
      {% for st in topic.subtopic_set.all %}
      <div id="{{ st|slugify }}"
	   role="tabpanel"
	   aria-labelledby="{{ st|slugify }}-tab"
	   class="tab-pane fade">
	<div class="row">
	  {% for ini in st.published_initiatives %}
	  {% include 'initiative/card.html' %}
	  {% empty %}
	  <div class="col-xs-12">
	    <p class="alert alert-warning">
	      {% trans 'Bisher gibt es keine Initiative zu diesem Thema.' %}
	    </p>
	  </div>
	  {% endfor %}
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
