{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Themen' %}{% endblock title %}

{% block content %}

<section class="text-center">
  <h1>{% trans 'Themen'%}</h1>

  <p class="lead">
    {% blocktrans %}
    Nutze die Kategorien, um zu einer für dich interessanten Initiative
    zu gelangen. Finde thematisch sortiert Infos und erfahre mehr über
    Initiativen-Aktivitäten und Möglichkeiten zum Mitgestalten!
    {% endblocktrans %}
  </p>

  <div class="row mt-5">
    {% for topic in topic_list %}
    {% include 'topic/card.html' %}
    {% endfor %}
  </div>
</section>

{% endblock content %}
