{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block js %}
<link rel="stylesheet" type="text/css" href="{% static 'faq/style.css' %}" />
<script type="text/javascript" src="{% static 'faq/submit.js' %}"></script>
{% endblock js %}

{% block content %}
<h1 class="main">{% trans "FAQ - Frequently Asked Questions" %}</h1>

<div class="faq-container">
  {% regroup entry_list by category.name as category_list %}
  {% for category in category_list %}
  <div id="{{ category.grouper|slugify }}" class="faq-category">
    <div class="faq-category-title">
      <h3>{{ category.grouper }}</h3>
    </div>

    <div class="faq-category-list">
      <ul class="list-unstyled">
	{% for entry in category.list %}
	<li>
	    <h4>{{ entry.question }}</h4>
	    <p class="mb-4">{{ entry.answer }}</p>
	  </li>
	  {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

<section>
  <h2>{% trans 'Frage stellen'%}</h2>
  <p class="help-block">
    {% blocktrans %}
    Hier kannst du völlig anonym eine Frage stellen. Wir sammeln alle Fragen
    und werden diese hier in den F.A.Q. beantworten. Dies kann eine gewisse
    Zeit dauern, also bitte habe etwas Geduld :-)
    {% endblocktrans %}
  </p>

  <form method="post" action="new/" role="form" class="form-horizontal">
    {% csrf_token %}
    <div class="input-group">
      <input id="new-question" type="text" name="new" maxlength="100"
	     class="form-control" placeholder="{% trans 'Neue Frage' %}"/>
      <input class="btn btn-disabled" id="submit" type="submit" value="{% trans 'Abschicken' %}">
    </div>
  </form>
</section>

{% endblock content %}
