{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="alert alert-primary my-5">
  {% blocktrans %}
  Danke für deine Frage. Wir werden uns in Kürze damit beschäftigen.
  Interessieren sich mehrere NutzerInnen für deine Frage, werden wir
  sie beantworten und sie hier in den FAQ veröffentlichen.
  {% endblocktrans %}

  <a href="/faq">{% trans "Zurück zu den FAQ" %}.</a>
</div>
{% endblock %}
