{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="alert alert-secondary my-5">
  {% trans "Die Aktivierung ist leider fehlgeschlagen. Bitte wende dich unter Angabe deines Aktivierungsschlüssels an" %}
  <a mailto="moderation@gemeinsam.jetzt?subject=Aktivierung fehlgeschlagen {{ activation_key}}">moderation@gemeinsam.jetzt</a>.

  Dein Aktivierungsschlüssel lautet: {{ activation_key }}
</div>
{% endblock %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
