{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="alert alert-primary my-5">
  {% trans "Dein Konto ist nun aktiviert." %}
</div>
{% if not user.is_authenticated %}
<p>
  <a class="btn btn-primary" href="/accounts/login" role="button">
    {% trans "Jetzt anmelden" %}
  </a>
</p>
{% endif %}
</div>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
