{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-8">
    <div class="card mt-5 mx-auto">
      <h3 class="card-header text-muted text-center">
	{% trans "Anmeldung" %}
      </h3>

      <div class="card-body">
	{% if form.errors %}
	<div class="alert alert-danger">
	  {% trans "Dein Benutzername oder Passwort ist falsch!" %}
	</div>
	{% endif %}
	<form method="post">
	  {% csrf_token %}
	  <div class="mb-3">
	    <label for="username" class="form-label">{{ form.username.label_tag }}</label>
	    <input class="form-control" id="id_username" type="text"
		   name="username" placeholder="{% trans 'Benutzername' %}">
	  </div>

	  <div class="mb-3">
	    <label for="password" class="form-label">{{ form.password.label_tag }}</label>
	    <input class="form-control" id="id_password" type="password"
		   name="password" placeholder="{% trans 'Passwort' %}">
	  </div>

	  <div class="d-flex align-items-center justify-content-between">
	    <input class="btn btn-primary" type="submit" value="{% trans 'Anmelden' %}" />
	    <input type="hidden" name="next" value="{{ next }}" />

	    <a href="{% url 'auth_password_reset' %}">{% trans "Passwort vergessen" %}?</a>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
