{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-8">
    <div class="card mt-5 mx-auto">
      <h3 class="card-header text-muted text-center">
	{% trans "Abmeldung" %}
      </h3>

      <div class="card-body">
	{% trans "Du hast dich erfolgreich abgemeldet." %}
      </div>
    </div>
  </div>
</div>

<script>
  setTimeout(function(){window.location.href="/"}, 5000);
</script>
{% endblock %}
