{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Passwort zurücksetzen" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-8">
    <div class="card mt-5 mx-auto">
      <h3 class="card-header text-muted text-center">
	{% trans "Passwort zurücksetzen" %}
      </h3>

      <div class="card-body">
	<div class="help-block">
	  {% blocktrans %}
	  Du hast dein Passwort vergessen?  Gib deine email-Adresse im Feld unten ein,
	  dann schicken wir dir die Anweisung, wie du ein neues Passwort setzen kannst.
	  {% endblocktrans %}
	</div>

	<form role="form" method="post" novalidate>
	  {% csrf_token %}
	  <div class="mb-3">
	    <label class="form-label" for="id_email">{{ form.email.label }}</label>
	    <input class="form-control {% if form.email.errors %}is-invalid{% endif %}"
		   id="id_email" type="email" name="email" maxlength="254">
	    <div class="invalid-feedback">
	      {{ form.email.errors|join:", "}}
	    </div>
	  </div>

	  <div class="d-flex align-items-center justify-content-between">
	    <input class="btn btn-primary" type="submit" value="{% trans 'Passwort zurücksetzen' %}">
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
