{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-8">
    <div class="card mt-5 mx-auto">
      <h3 class="card-header text-muted text-center">
	{% trans "Neues Kennwort setzen" %}
      </h3>

      <div class="card-body">
	<form role="form" method="post" novalidate>
	  {% csrf_token %}
	  <div class="mb-3">
	    <label class="control-label" for="id_old_password">{{ form.old_password.label }}</label>
	    <input class="form-control {% if form.old_password.errors %}has-error{% endif %}"
		   id="id_old_password" type="password" name="old_password">
	    <div class="invalid-feedback">
	      {{ form.old_password.errors|join:", " }}
	    </div>
	  </div>

	  <div class="mb-3">
	    <label class="control-label" for="id_new_password1">
	      {{ form.new_password1.label }}
	      <span class="text-secondary">
		{% blocktrans %}
		Groß- Kleinschreibung, Zahlen und Sonderzeichen kombinieren.
		Und sicher aufbewahren. Das hilft.
		{% endblocktrans %}
	      </span>
	    </label>
	    <input class="form-control {% if form.new_password1.errors %}has-error{% endif %}"
		   id="id_new_password1" type="password" name="new_password1">
	    <div class="invalid-feedback">
	      {{ form.new_password1.errors|join:", " }}
	    </div>
	  </div>

	  <div class="mb-3">
	    <label class="control-label" for="id_new_password2">{{ form.new_password2.label }}</label>
	    <input class="form-control {% if form.new_password2.errors %}has-error{% endif %}"
		   id="id_new_password2" type="password" name="new_password2">
	    <div class="invalid-feedback">
	      {{ form.new_password2.errors|join:", " }}
	    </div>
	  </div>

	  <div class="d-flex align-items-center justify-content-between">
	    <input class="btn btn-primary" type="submit" value="{% trans 'Passwort setzen' %}" />
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
