{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<div class="alert alert-primary my-5">
  {% trans "Dein Passwort wurde zurückgesetzt!" %}
  {% trans "Du kannst dich nun wieder" %} <a href="{{ login_url }}">{% trans "anmelden" %}</a>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
