{% extends "registration/registration_base.html" %}
{% load static %}
{% load i18n %}

{% block js %}
<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock js %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-8">
    <div class="card mt-5 mx-auto">
      <h3 class="card-header text-muted text-center">
	{% trans "Registrierung" %}
      </h3>

      <div class="card-body">

	<form method="post" novalidate>
	  {% csrf_token %}
	  <div class="mb-3">
	    <label class="form-label" for="{{ form.username.id_for_label }}">
	      {{ form.username.label }}
	    </label>
	    <input id="id_username" type="text" name="username" maxlength="30"
		   class="form-control {% if form.username.errors %}is-invalid{% endif %}"
		   value="{{ form.username.value|default_if_none:'' }}"
		   placeholder="{{ form.username.label }}"
		   required>
	    <div class="invalid-feedback">
	      {{ form.username.errors|join:", "}}
	    </div>
	  </div>

	  <div class="mb-3">
	    <label class="form-label" for="{{ form.email.id_for_label }}">
	      {{ form.email.label }}
	    </label>
	    <input id="id_email" type="email" name="email"
		   value="{{ form.email.value|default_if_none:'' }}"
		   class="form-control {% if form.email.errors %}is-invalid{% endif %}"
		   placeholder="{{ form.email.label }}"
		   required>
	    <div class="invalid-feedback">
	      {{ form.email.errors|join:", "}}
	    </div>
	  </div>

	  <div class="mb-3">
	    <label class="form-label" for="{{ form.password1.id_for_label }}">
	      {{ form.password1.label }}
	      <span class="text-secondary">
		{% blocktrans %}
		Groß- Kleinschreibung, Zahlen und Sonderzeichen kombinieren.
		Und sicher aufbewahren. Das hilft.
		{% endblocktrans %}
	      </span>
	    </label>
	    <input id="id_password1" type="password" name="password1"
		   value="{{ form.password1.value|default_if_none:'' }}"
		   class="form-control {% if form.password1.errors %}is-invalid{% endif %}"
		   placeholder="{{ form.password1.label }}"
		   required>
	    <div class="invalid-feedback">
	      {{ form.password1.errors|join:", "}}
	    </div>
	  </div>

	  <div class="mb-3">
	    <label class="form-label" for="{{ form.password2.id_for_label }}">
	      {{ form.password2.label }}
	    </label>
	    <input id="id_password2" type="password" name="password2"
		   value="{{ form.password2.value|default_if_none:'' }}"
		   class="form-control {% if form.password2.errors %}is-invalid{% endif %}"
		   placeholder="{{ form.password2.label }}"
		   required>
	    <div class="invalid-feedback">
	      {{ form.password2.errors|join:", "}}
	    </div>
	  </div>

	  <div class="mb-3">
	    <label class="form-label" for="form.captcha.id_for_label">
	      {{ form.captcha.label }}
	    </label>
	    <br/>
	    {{ form.captcha }}
	    <div class="invalid-feedback" style="display: block">
	      {{ form.captcha.errors|join:", "}}
	    </div>
	  </div>

	  <div class="d-flex align-items-center justify-content-between">
	    <input class="btn btn-primary" type="submit" value="{% trans 'Abschicken' %}">
	  </div>

	</form>
      </div>
    </div>
  </div>
</div>

<div id="account-agree" class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans 'Einverständnis' %}</h5>
      </div>
      <div class="modal-body">
	<p class="">
	  {% blocktrans %}
	  Die Plattform wendet sich an Personen und Initiativen,
	  die sich mit folgenden Werten identifizieren:
	  {% endblocktrans %}
	</p>
	<p class="fw-bold">
	  {% blocktrans %}
	  Achtsamkeit | Menschenwürde | Partizipation | Solidarität | Zukunftsfähigkeit
	  {% endblocktrans %}
	</p>
	<p class="">
	  {% blocktrans %}
	  Durch die Erstellungen eines Kontos bestätigst du, dass
	  du mit den
	  {% endblocktrans %}
	  <a href="/pages/privacy">{% trans 'Datenschutzbestimmungen' %}</a>
	  {% blocktrans %}
	  von gemeinsam.jetzt
	  und der Verwendung von Cookies einverstanden bist.
	  {% endblocktrans %}
	</p>
	<p class="">
	  {% blocktrans %}
	  Außderdem bestätigst du, dass du zum Zeitpunkt der
	  Registrierung mindestens 16 Jahre alt bist!
	  {% endblocktrans %}
	</p>
	<p class="">
	  {% blocktrans %}
	  Die Registrierung ist nur nach Bestätigung dieser Abfrage möglich.
	  {% endblocktrans %}
	</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% trans 'Ich stimme zu' %}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  onclick="javascript:window.location='/'">{% trans 'Nein danke' %}</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
