<td width="18%">
  <div class="fs-4 fw-bold lh-sm">
    {{ occ.start_time|date:"H:i" }} &ndash; {{ occ.end_time|date:"H:i" }}
    {% if occ.event.recurring %}
    <span class="text-muted ms-1 fs-5">
      <i class="fa fa-repeat"></i>
    </span>
    {% endif %}
  </div>
  <div class="fs-5 lh-sm">
    {% if occ.start_time|date:"YMd" == occ.end_time|date:"YMd" %}
    {{ occ.start_time|date:"l, j. F"}}
    {% else %}
    {{ occ.start_time|date:"l, j. F"}} &ndash; {{ occ.end_time|date:"l, j. F"}}
    {% endif %}
  </div>
</td>

<td width="68%">
  <div class="mb-1">
    <a class="text-black fs-4 fw-bold lh-sm" href="{% url 'event:detail' occ.event.pk %}">{{ occ }}</a>
  </div>
  <div>
    <a class="fs-5 lh-sm"href="{% url 'initiative:detail' occ.initiative.pk %}">{{ occ.initiative }}</a>
  </div>
  <div class="fs-5 lh-sm">
    {{ occ.event.location.address_formatted }}
  </div>
</td>

<td width="14%" align="right" valign="middle">
  <ul class="list-group list-group-horizontal justify-content-end">
    {% for st in occ.event.topics.all %}
    {% ifchanged st.parent %}
    <li class="list-group-item border-0 px-1">
      <a href="{% url 'topic:detail' st.parent.pk %}#{{ st|slugify }}">
	<img
	  class="icon-secondary" src="{{ st.parent.icon.url }}"
	  title="{{ st }}"
	  alt="{{ st.parent }}"
	  height="24">
      </a>
    </li>
    {% endifchanged %}
    {% endfor %}
  </ul>
</td>
