{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Veranstaltungen" %}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}"/>
<link rel="stylesheet" href="{% static 'qtip2/dist/jquery.qtip.min.css' %}"/>
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'moment/locale/de-at.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar/dist/locale/de-at.js' %}"></script>
<script type="text/javascript" src="{% static 'qtip2/dist/jquery.qtip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'event/calendar.js' %}"></script>
{% endblock js %}

{% block content %}
<section class="text-center">
  {% include 'event/calendar-header.html' with view='cal' %}

  <div class="row mt-3">
    <div class="col-12">
      <div id="calendar"></div>
    </div>
  </div>

</section>

{% endblock content %}
