{% load i18n %}
<h1>{% trans 'Ver&shy;an&shy;stal&shy;tungs&shy;ka&shy;len&shy;der' %}</h1>

<p class="lead">
  {% blocktrans %}
  Wann, wo, was in deiner Umgebung stattfindet kannst Du hier in einer
  Kalender- oder Kartenansicht finden. Der Kalender zeigt dir einen
  Tag oder eine Terminübersicht an - klicke direkt auf den Termin um
  Details zu lesen.
  {% endblocktrans %}
</p>

{% comment %}
<p class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>COVID-19-Maßnahmen</strong>: Bitte informiert euch selbst
  direkt bei den Veranstalter*innen, ob und wie die jeweilige Veranstaltung
  stattfindet.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</p>
{% endcomment %}

<div class="btn-toolbar justify-content-between" role="toolbar">
  <div class="btn-group" role="group">
    <a class="btn btn-outline-primary btn-md{% if view == 'cal' %} active{% endif %}"
       {% if view == "map" %}href="{% url 'event:calendar' %}"{% endif %}>
      {% trans "Kalender" %}
    </a>
    <a class="btn btn-outline-primary btn-md{% if view == 'map' %} active{% endif %}"
       {% if view == "cal" %}href="{% url 'event:map' %}"{% endif %}>
      {% trans "Karte" %}
    </a>
  </div>

  <div class="btn-group" role="group">
    {% include 'filter/filter-button.html' %}
  </div>
</div>

{% include 'filter/filter-modal.html' %}
