{% load i18n %}
<!-- title -->
<h4>
  <a href="{% url 'event:detail' event.pk %}">{{ event }}</a>
  {% if event.recurring %}
  <small>
    <span class="badge bg-secondary"><i class="fa fa-repeat"></i></span>
  </small>
  {% endif %}
  {% if event.location.accessible %}
  <small>
    <span class="badge bg-secondary"><i class="fa fa-wheelchair"></i></span>
  </small>
  {% endif %}
</h4>

<!-- topics -->
<div class="mb-1">
  <ul class="list-inline">
    {% for st in event.topics.all %}
    <li class="list-inline-item">
      <a href="{% url 'topic:detail' st.parent.pk %}#{{ st|slugify }}">
	<img class="icon-secondary align-baseline"
	     src="{{ st.parent.icon.url }}"
	     title="{{ st.parent }}"
	     alt="{{ st.parent }}"
	     height="14"> {{ st }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- event info -->
<div class="">
  <ul class="fa-ul">
    {% if event.initiative.abbr != 'n/a' %}
    <li>
      <i class="fa-li fa fa-fw fa-users" aria-hidden="true"></i>
      <a href="{% url 'initiative:detail' event.initiative.pk %}">{{ event.initiative }}</a>
    </li>
    {% endif %}
    <li>
      <i class="fa-li fa fa-fw fa-map-marker" aria-hidden="true"></i>
      {% with location=event.location on_line=event.on_line%}
      {% include 'location/address.html' %}
      {% endwith %}
    </li>
    {% if event.recurring %}
    {% if occurrence %}
    <li>
      <i class="fa-li fa fa-fw fa-clock-o" aria-hidden="true"></i>
      {% with start=occurrence.start_time end=occurrence.end_time %}
      {% include 'event/daterange.html' %}
      {% endwith %}
    </li>
    {% elif event.next_occurrence %}
    <li>
      <i class="fa-li fa fa-fw fa-clock-o" aria-hidden="true"></i>
      {% trans 'Nächster Termin' %}:
      {% with start=event.next_occurrence.start_time end=event.next_occurrence.end_time %}
      {% include 'event/daterange.html' %}
      {% endwith %}
    </li>
    {% endif %}
    {% else %}
    <li>
      <i class="fa-li fa fa-fw fa-clock-o" aria-hidden="true"></i>
      {% with start=event.start_time end=event.end_time %}
      {% include 'event/daterange.html' %}
      {% endwith %}
    </li>
    {% endif %}
  </ul>
</div>
