{% load rules %}
{% load i18n %}
{% load common_tags %}
{% load static %}

{% if user.is_authenticated %}
{% has_perm 'event.change_event' request.user event as can_edit_event %}
{% endif %}

<div class="col-md-4 col-12 mb-3 px-2 text-start"
     data-topics="{% for st in ini.topics.all %}{{ st.pk }} {% endfor %}"
     data-county="{{ ini.location.state}}:{{ ini.location.county }}"
     data-names="{{ ini.name|lower }} {{ ini.abbr|lower }}"
     data-persons="{{ ini.admin.get_full_name|lower }} {{ ini.contact_person|lower }}"
     data-accessible="{{ ini.location.accessible }}">
  <div class="card h-100">

    <div class="card-body">
      <!-- logo and name -->
      <div class="row mb-2">
	<div class="col-sm-3 col-2">
	  <div class="">
	    <a href="{% url 'initiative:detail' event.initiative.pk %}">
	      <img class="img-thumbnail" width="100" src="{% if event.initiative.logo %}{{ event.initiative.logo.thumbnail.url }}{% else %}{% static 'img/no-ini-logo.png' %}{% endif %}" alt="{{ event.initiative }}">
	    </a>
	  </div>
	</div>
	<div class="col-sm-9 col-10">
	  <div class="fs-4 text-truncate">
	    <a href="{% url 'event:detail' event.pk %}">{{ event }}</a>
	  </div>
	</div>
      </div>

      <!-- topics -->
      <div class="mb-1">
	{% include 'event/topics-list.html' %}
      </div>

      <!-- event info -->
      <div class="mb-2 text-truncate">
	<ul class="fa-ul">
	  {% if event.initiative.abbr != 'n/a' %}
	  <li>
	    <i class="fa-li fa fa-fw fa-users" aria-hidden="true"></i>
	    <a href="{% url 'initiative:detail' event.initiative.pk %}">{{ event.initiative }}</a>
	  </li>
	  {% endif %}
	  <li>
	    <i class="fa-li fa fa-fw fa-map-marker" aria-hidden="true"></i>
	    {% with location=event.location on_line=event.on_line%}
	    {% include 'location/address.html' %}
	    {% endwith %}
	  </li>
	  <li>
	    <i class="fa-li fa fa-fw fa-clock-o" aria-hidden="true"></i>
	    {% if event.recurring %}
	    {% trans 'nächster Termin' %}:
	    {% with start=event.next_occurrence.start_time end=event.next_occurrence.end_time %}
	    {% include 'event/daterange.html' %}
	    {% endwith %}
	    {% else %}
	    {% with start=event.start_time end=event.end_time %}
	    {% include 'event/daterange.html' %}
	    {% endwith %}
	    {% endif %}
	  </li>
	</ul>
      </div>

      <!-- description -->
      <div class="row">
	<div class="clamp">
	  {{ event.description|html2text }}
	</div>
      </div>
    </div>

    {% if can_edit_event %}
    <div class="card-footer">
      <a class="btn btn-sm btn-secondary"
	 href="{% url 'event:edit-event' event.pk %}"
	 title="{% trans 'Veranstaltung bearbeiten' %}">
	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
	{% trans 'Bearbeiten' %}
      </a>
    </div>
    {% endif %}

  </div>
</div>
