{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bleach_tags %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load rules %}

{% block htmlattr %}prefix="og: http://ogp.me/ns#"{% endblock htmlattr %}

{% block title %}{{ event }} &ndash; {{ event.initiative }}{% endblock title %}

{% block extra_head %}
<meta property="og:url" content="{{ SITE_URL }}{{ event.get_absolute_url }}/">
{% if event.initiative.logo.thumbnail.url %}
<meta property="og:image" content="{{ SITE_URL }}{{ event.initiative.logo.square.url }}">
<meta property="og:image:secure_url" content="{{ SITE_URL }}{{ event.initiative.logo.square.url }}">
<meta property="og:image:width" content="{{ event.initiative.logo.square.width }}">
<meta property="og:image:height" content="{{ event.initiative.logo.square.height }}">
<meta name="twitter:image" content="{{ SITE_URL }}{{ event.initiative.logo.square.url }}">
{% endif %}
<meta property="og:title" content="{{ event }} &ndash; {{ event.initiative }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ event.description|striptags }}">
<meta name="twitter:card" content="summary" />
{% endblock %}

{% block css %}
{% leaflet_css %}
{% endblock css %}

{% block js %}
{% leaflet_js %}
<script type="text/javascript" src="{% static 'event/dropdown-toggle.js' %}"></script>
<script type="text/javascript" src="{% static 'event/modal-map.js' %}"></script>
{% endblock js %}

{% block content %}

{% if user.is_authenticated %}
{% has_perm 'event.change_event' request.user event as can_edit_event %}
{% endif %}

<section>
  <div class="row">
    <h1>{{ event }}</h1>

    <!-- topics -->
    <div>
      {% include 'event/topics-list.html' %}
    </div>
  </div>

  <div class="row d-flex justify-content-around flex-md-row flex-column-reverse">
    <div class="col-12 col-md-8 mt-3 mt-md-0">
      <h3>{% trans 'Beschreibung' %}</h3>
      {% if event.description %}
      {{ event.description|bleach }}
      {% else %}
      {% trans 'Keine Beschreibung der Veranstaltung vorhanden.' %}
      {% endif %}
    </div>

    <div class="col-12 col-md-4">
      <h3>{% trans 'Info' %}</h3>
      <ul class="fa-ul fa-ul-large">
	{% if event.initiative.abbr != 'n/a' %}
	<li>
	  <i class="fa-li fa fa-fw fa-users" aria-hidden="true"></i>
	  <a href="{% url 'initiative:detail' event.initiative.pk %}">{{ event.initiative }}</a>
	</li>
	{% endif %}
	<li>
	  <i class="fa-li fa fa-fw fa-map-marker" aria-hidden="true"></i>
	  {% if event.location and event.on_line is False %}
	  <a href="" data-bs-toggle="modal" data-bs-target="#map-modal">
	    {% endif %}
	    {% with location=event.location on_line=event.on_line%}
	    {% include 'location/address.html' %}
	    {% endwith %}
	    {% if event.location and event.on_line is False %}
	  </a>
	  {% endif %}
	</li>
	{% if event.recurring %}
	{% if occurrence %}
	<li>
	  <i class="fa-li fa fa-fw fa-clock-o" aria-hidden="true"></i>
	  {% with start=occurrence.start_time end=occurrence.end_time %}
	  {% include 'event/daterange.html' %}
	  {% endwith %}
	</li>
	{% elif event.next_occurrence %}
	<li>
	  <i class="fa-li fa fa-fw fa-clock-o" aria-hidden="true"></i>
	  {% trans 'nächster Termin' %}:
	  {% with start=event.next_occurrence.start_time end=event.next_occurrence.end_time %}
	  {% include 'event/daterange.html' %}
	  {% endwith %}
	</li>
	{% endif %}
	<li class="dropdown">
	  <i class="fa-li fa fa-fw fa-repeat" aria-hidden="true"></i>
	  <a href="#" id="dropdown-rules" class="dropdown-toggle" aria-expanded="false">
	    {% trans "seit" %}
	    {% with start=event.start_time end=event.end_time %}
	    {% include 'event/daterange.html' %}
	    {% endwith %}
	  </a>
	  <ul class="fa-ul d-none" id="rules">
	    {% for rule in event.recurrences.rrules %}
	    <li><i class="fa-li fa fa-fw fa-check-square-o"></i>{{ rule.to_text }}</li>
	    {% endfor %}
	    {% for date in event.recurrences.rdates %}
	    <li><i class="fa-li fa fa-fw fa-check-square-o"></i>{{ date|date:"l, j. F Y" }}</li>
	    {% endfor %}
	    {% for rule in event.recurrences.exrules %}
	    <li><i class="fa-li fa fa-fw fa-minus-square-o"></i>{{ rule.to_text }}</li>
	    {% endfor %}
	    {% for date in event.recurrences.exdates %}
	    <li><i class="fa-li fa fa-fw fa-minus-square-o"></i>{{ date|date:"l, j. F Y" }}</li>
	    {% endfor %}
	  </ul>
	</li>
	{% else %}
	<li>
	  <i class="fa-li fa fa-fw fa-clock-o" aria-hidden="true"></i>
	  {% with start=event.start_time end=event.end_time %}
	  {% include 'event/daterange.html' %}
	  {% endwith %}
	</li>
	{% endif %}
      </ul>

      {% if can_edit_event %}
      <div class="d-grid gap-2 mt-2">
	<a class="btn btn-secondary" href="{% url 'event:edit-event' event.pk %}">
	  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Bearbeiten' %}
	</a>
      </div>
      {% endif %}

      <div class="mt-2">
	<a href="mailto:{{ moderation_mail }}?subject='{{ event }}' {% trans 'als unangemessen melden' %}&body={% trans 'Hallo,%0A%0Aich möchte diese Veranstaltung als unangemessen melden' %}:%0Ahttp://{{ request.META.HTTP_HOST }}{{ event.get_absolute_url }}%0A%0AMit Bitte um Rückmeldung%0A">
	  <i class="fa fa-bell-o" aria-hidden="true" title="{% trans 'Eintrag als unangemessen melden' %}"></i>
	  {% trans 'Melden' %}
	</a>
      </div>
    </div>
  </div>


  <div id="social-buttons" class="row my-3">
    <div class="col-12 text-center">
      {% with obj=event name=event.title %}
      {% include 'social/social.html' %}
      {% endwith %}
    </div>
  </div>

</section>


<!-- small map showing the location -->
<div id="map-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title">{% trans 'Karte' %}</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<div class="fill-map">
	  {% leaflet_map "event-map" %}
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
	  {% trans 'Schließen' %}
	</button>
      </div>
    </div>
  </div>
</div>

<!-- map in bootstrap modal -->
<div id="map-data"
     data-lon="{{ event.location.coords.x|safe }}"
     data-lat="{{ event.location.coords.y|safe }}"
     data-title="{{ event.location.address_formatted }}">
</div>

{% endblock content %}
