{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load common_tags %}

{% block title %}
{{ event_form.instance.initiative }} &ndash; {% if event_form.instance.pk %}{{ event_form.instance }}{% else %}{% trans 'Neue Veranstaltung' %}{% endif %}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static '@eonasdan/tempus-dominus/dist/css/tempus-dominus.min.css' %}" />
<link rel="stylesheet" type="text/css" media="all" href="{% static 'bootstrap-select/dist/css/bootstrap-select.min.css' %}" />
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'moment/locale/de-at.js' %}"></script>
<script type="text/javascript" src="{% static '@eonasdan/tempus-dominus/dist/js/tempus-dominus.min.js' %}"></script>
<script type="text/javascript" src="{% static '@eonasdan/tempus-dominus/dist/locales/de.js' %}"></script>
<script type="text/javascript" src="{% static '@eonasdan/tempus-dominus/dist/plugins/moment-parse.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'event/edit.js' %}"></script>
<script type="text/javascript" src="{% static 'js/edit-tabs.js' %}"></script>
{% endblock js %}

{% block content %}
<h2>{{ event_form.instance.initiative }} <small>{% if event_form.instance.pk %}{{ event_form.instance }}{% else %}{% trans 'Neue Veranstaltung' %}{% endif %}</small></h2>

{% if event_form.errors %}
<div class="alert alert-secondary alert-dismissible" role="alert">
  {% blocktrans %}
  Deine Veranstaltung konnte nicht gespeichert werden. In allen rot markierten Reitern
  sind Fehler aufgetreten. Bitte verbessere diese und versuche es nochmals.
  {% endblocktrans %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'Schließen' %}"></button>
</div>
{% endif %}

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active {% if event_form.title.errors %}text-danger{% endif %}"
	    data-bs-target="#basics" data-bs-toggle="tab"
	    type="button" role="tab" aria-control="basics"
	    aria-selected="true">
      {% trans "Grundinfo" %}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link {% if event_form.topics.errors %}text-danger{% endif %}"
	    data-bs-target="#topics" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="topics"
	    aria-selected="false">
      {% trans "Themen" %}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link {% if event_form.start_time.errors or event_form.end_time.errors %}text-danger{% endif %}"
	    data-bs-target="#date" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="date"
	    aria-selected="false">
      {% trans "Datum" %}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link {% if event_form.location.errors %}text-danger{% endif %}"
	    data-bs-target="#location" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="location"
	    aria-selected="false">
      {% trans "Ort" %}
    </button>
  </li>
  {% if event_form.instance.pk %}
  <li class="nav-item ms-auto">
    <button class="nav-link"
	    data-bs-target="#delete" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="delete"
	    aria-selected="false">
      {% trans "Löschen" %}
    </button>
  </li>
  {% endif %}
</ul>

<form method="post" novalidate role="form">
  {% csrf_token %}
  {{ event_form.media }}

  <div class="row mt-3">
    <div class="col-12">
      <div class="tab-content">

	<!-- basics -->
	<div id="basics" class="tab-pane fade show active">
	  <h3>{% trans "Grundinfo" %}</h3>

	  <p class="help-block">
	    {% blocktrans %}
	    Hier machst du die Grundangaben zu deiner Veranstaltung: Name und wenn
	    möglich eine kurze Beschreibung, damit deine Veranstaltung leichter
	    gefunden werden kann.
	    {% endblocktrans %}
	  </p>

	  <div class="form-floating mb-3 required">
	    {{ event_form.title|add_invalid }}
	    <label for="{{ event_form.title.id_for_label }}">
	      {{ event_form.title.label }}
	    </label>
	    <div class="invalid-feedback">
	      {{ event_form.title.errors|join:", " }}
	    </div>
	  </div>

	  <div class="mb-3">
	    <label for="{{ event_form.description.id_for_label }}">
	      {{ event_form.description.label }}
	    </label>
	    {{ event_form.description }}
	  </div>
	</div>
	<!-- end basics -->

	<!-- location -->
	<div id="location" class="tab-pane fade">
	  <h3>{% trans "Ort" %}</h3>

 	  <p class="help-block">
	    {% blocktrans %}
	    Hier musst du den Veranstaltungsort eingeben. Wenn deinen Veranstaltung
	    ausschließlich on-line stattfindet, wähle hier bitte die Option 'On-line Treffen'.
	    Du kannst auch einen bereits eingetragenen Ort verwenden, oder du erstellst mit
	    Hilfe der Karte einen neuen (Option 'Auf Karte wählen').
	    {% endblocktrans %}
	  </p>

	  <div class="mb-3 required {% if event_form.location.errors %}text-danger{% endif %}">
	    <label for="{{ form.location.id_for_label }}" class="control-label">
	      {{ event_form.location.label }}
	    </label>
	    {{ event_form.location }}
	  </div>

	  <div id="location_form" class="collapse">
	    {% with form=location_form %}
	    {% include 'location/location_form.html' %}
	    {% endwith %}
	  </div>
	</div>
	<!-- end location -->

	<!-- date -->
	<div id="date" class="tab-pane fade">
	  <h3>{% trans "Datum" %}</h3>

 	  <p class="help-block">
	    {% blocktrans %}
	    Gib hier bitte den Start- und Endzeitpunkt der Veranstaltung ein.
	    Willst du einen Serientermin anlegen, musst du Beginn und Ende des ersten
	    Termins eintragen und kannst unterhalb Regeln für die Wiederholung festlegen.
	    {% endblocktrans %}
	  </p>
	  <div class="mb-3">
	    <div class="row gy-3">
	      <div class="col-12 col-sm-6">
		<div class="required">
		  <label for="{{ event_form.start_time.id_for_label }}">
		    {{ event_form.start_time.label }}
		  </label>
		  <div class="input-group log-event"
		       id="start-datetime"
		       data-td-target-input="nearest"
		       data-td-target-toggle="nearest">
		    {{ event_form.start_time|add_invalid }}
		    <span class="input-group-text"
			  data-td-target="#start-datetime"
			  data-td-toggle="datetimepicker">
		      <span class="fa fa-calendar"></span>
		    </span>
		    <div class="invalid-feedback">
		      {{ event_form.start_time.errors|join:", " }}
		    </div>
		  </div>
		</div>
	      </div>

	      <div class="col-12 col-sm-6">
		<div class="required">
		  <label for="{{ event_form.end_time.id_for_label }}">
		    {{ event_form.end_time.label }}
		  </label>
		  <div class="input-group log-event"
		       id="end-datetime"
		       data-td-target-input="nearest"
		       data-td-target-toggle="nearest">
		    {{ event_form.end_time|add_invalid }}
		    <span class="input-group-text"
			  data-td-target="#end-datetime"
			  data-td-toggle="datetimepicker">
		      <span class="fa fa-calendar"></span>
		    </span>
		    <div class="invalid-feedback">
		      {{ event_form.end_time.errors|join:", " }}
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>

	  <div class="mb-3">
	    <label>{% trans 'Regeln für Wiederholung' %}</label>
	    <div>
	      {{ event_form.recurrences }}
	    </div>
	  </div>

	</div>
	<!-- end date -->

	<!-- topics -->
	<div id="topics" class="tab-pane fade">
	  <h3>{% trans "Themen" %}</h3>

	  <p class="help-block">
	    {% blocktrans %}
	    Welche Themen werden auf deiner
	    Veranstaltung behandelt? Wähle zwischen einem bis drei Themen. Diese
	    müssen nicht unbedingt die gleichen sein, mit denen sich deine
	    Initiative hauptsächlich auseinandersetzt.
	    {% endblocktrans %}
	  </p>

	  <div class="mb-3 required {% if event_form.topics.errors %}text-danger{% endif %}">
	    <label>
	      {{ event_form.topics.label }}
	    </label>
	    {{ event_form.topics }}

	    {% if event_form.topics.errors %}
	    <div class="invalid-feedback" style="display: block">
	      {{ event_form.topics.errors|join:", " }}
	    </div>
	    {% endif %}
	  </div>
	</div>
	<!-- end topics -->

	<!-- delete -->
	<div id="delete" class="tab-pane fade">
	  <h3>{% trans "Löschen" %}</h3>

	  <p class="help-block">
	    {% blocktrans %}
	    Willst du diese Veranstaltung wirklich löschen? Dann bestätige dies bitte
	    mit einem Häkchen.
	    {% endblocktrans %}
	  </p>
	  <p class="text-danger">
	    {% blocktrans %}
	    Die Veranstaltung wird dann ohne weitere Nachfrage unwiderruflich gelöscht!
	    {% endblocktrans %}
	  </p>

	  <div class="checkbox">
	    <label>
	      {{ event_form.deletion }}	{{ event_form.deletion.label }}
	    </label>
	  </div>
	</div>
	<!-- end delete -->
      </div>

      <div class="clearfix"></div>

      <hr/>
      <div class="mt-3">
	<input class="btn btn-primary col-4 col-md-3 col-lg-2 me-2" type="submit" value="{% trans 'Speichern' %}" formnovalidate>
	<input class="btn btn-secondary col-4 col-md-3 col-lg-2" type="cancel" value="{% trans 'Abbrechen' %}" onclick="javascript:window.history.back()">
      </div>

    </div>
  </div>

</form>
{% endblock content %}
