{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block css %}
{% leaflet_css %}
<link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}"/>
<link rel="stylesheet" href="{% static 'event/hidden-cal.css' %}"/>
{% endblock css %}

{% block js %}
{% leaflet_js %}
<script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'moment/locale/de-at.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar/dist/locale/de-at.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock js %}

{% block content %}
<section class="text-center">
  {% include 'event/calendar-header.html' with view='map' %}

  <div class="row mt-3">
    <div class="col-12">

      {% comment %}
      use the fullcalendars navigation but hide the calendar view
      by means of css (event/hidden-cal.css)
      {% endcomment %}
      <div id="calendar"></div>

      <div class="card mb-4">
	{% leaflet_map "large-map" %}
      </div>
    </div>
  </div>

  <div id="map-info" url="{% url 'event:data' %}" lat="0" lon="0"></div>

</section>

{% endblock content %}
