{% load i18n %}
{% load rules %}

{% if user.is_authenticated %}
{% has_perm 'event.change_event' request.user event as can_edit_event %}
{% endif %}

<ul class="list-inline">
  {% for st in event.topics.all %}
  <li class="list-inline-item lead">
    <a href="{% url 'topic:detail' st.parent.pk %}#{{ st|slugify }}">
      <img class="icon-secondary align-baseline"
	   src="{{ st.parent.icon.url }}"
	   title="{{ st.parent }}"
	   alt="{{ st.parent }}"
	   height="16"> {{ st }}
    </a>
  </li>
  {% empty %}
  {% if can_edit_event %}
  <a class="link-warning" href="{% url 'event:edit-event' event.pk %}?tab=topics">
    {% trans 'Themen hinzufügen' %}
  </a>
  {% endif %}
  {% endfor %}
</ul>
