{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/social.css' %}"/>
{% endblock css %}

{% block extra_head %}
<meta property="og:url" content="{{ SITE_URL }}{{ request.path }}">
<meta property="og:image" content="https://gemeinsam.jetzt/media/appearance/SGJ_logo.standard.png">
<meta property="og:image:secure_url" content="https://gemeinsam.jetzt/media/appearance/SGJ_logo.standard.png">
<meta name="twitter:image" content="https://gemeinsam.jetzt/media/appearance/SGJ_logo.standard.png">
<meta property="og:title" content="{{ flatpage.name }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ flatpage.content|striptags }}">
<meta name="twitter:card" content="summary" />
{% endblock extra_head %}

{% block content %}
<div class="text-center">
  <h1 class="main">{{ flatpage.title }}</h1>
  {{ flatpage.content|safe }}
</div>

<section id="social">
  <div class="row">
    <div class="col-xs-12 text-center margin-bottom-10">
      {% with obj=request.path name=flatpage.title %}
      {% include 'social/social.html' %}
      {% endwith %}
    </div>
  </div>
</section>

{% endblock content %}
