{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bleach_tags %}
{% load common_tags %}

{% block js %}
<script type="text/javascript" src="{% static 'js/search-content.js' %}"></script>
{% endblock js %}

{% block content %}
<div class="text-center">
  <h2>{% trans "Suche" %}</h2>
</div>

<form action="{% url 'watson:search' %}" method="GET">
  <div class="row my-5">
    <div class="col-8 mx-auto">
      <div class="input-group">
        <input type="text" class="form-control"
	       placeholder="{% trans 'Themen, Initiativen, Veranstaltungen, ...' %}"
	       name="q" value="{{ request.GET.q }}">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row my-2">
    <div class="d-flex justify-content-between">
      <div>
	<input type="hidden" name="initiative" value="no">
	<input type="checkbox" name="initiative"
	       value="yes" class="btn-check" id="btn-initiative"
	       {% if request.GET.initiative != "no" %}checked=checked{% endif %}>
	<label class="btn btn-outline-primary btn-sm" for="btn-initiative">
	  {% trans "Inititiativen" %}
	  <span class="ms-2 badge bg-secondary"></span>
	</label>

	<input type="hidden" name="event" value="no">
	<input type="checkbox" name="event"
	       value="yes" class="btn-check" id="btn-event"
	       {% if request.GET.event != "no" %}checked=checked{% endif %}>
	<label class="btn btn-outline-primary btn-sm" for="btn-event">
	  {% trans "Veranstaltungen" %}
	  <span class="ms-2 badge bg-secondary"></span>
	</label>

	<input type="hidden" name="topic" value="yes">
	<input type="checkbox" name="topic"
	       value="no" class="btn-check" id="btn-topic"
	       {% if request.GET.topic != "no" %}checked=checked{% endif %}>
	<label class="btn btn-outline-primary btn-sm" for="btn-topic">
	  {% trans "Themen" %}
	  <span class="ms-2 badge bg-secondary"></span>
	</label>

	{% if user.is_authenticated %}
	<input type="hidden" name="profiles" value="no">
	<input type="checkbox" name="profiles"
	       value="yes" class="btn-check" id="btn-profiles"
	       {% if request.GET.profiles != "no" %}checked=checked{% endif %}>
	<label class="btn btn-outline-primary btn-sm" for="btn-profiles">
	  {% trans "Personen" %}
	  <span class="ms-2 badge bg-secondary"></span>
	</label>
	{% endif %}
      </div>

      <div>
	<input type="checkbox" class="form-check-input" id="past-event" value="yes"
	       name="show_past_events"
	       {% if request.GET.show_past_events %}checked=checked{% endif %}>
	<label class="form-check-label" for="past-event">
	  {% trans "Zeige vergangene Veranstaltugen" %}
	  <span class="badge bg-secondary"></span>
	</label>
      </div>
    </div>
  </div>
</form>

<section id="search-results">
  {% now "YmdHis" as exactly_now %}
  {% for result in search_results %}
  {% with start_time=result.object.next_occurrence_datetime %}
  {% if result.content_type.model != "profile" or user.is_authenticated or result.object.public %}
  <div class="result mt-4 {% if start_time and start_time|date:"YmdHis" < exactly_now %}past-event{% endif %}"
       data={{ result.content_type.app_label }}>
    <div class="badge bg-secondary">
      {{ result.content_type.name }}
      {% if start_time and start_time|date:"YmdHis" < exactly_now %}
      ({% trans "vergangen" %})
      {% endif %}
    </div>
    <h4><a href="{{ result.url }}">{{ result.title }}</a></h4>
    <div class="text-muted">
      {{ result.content|bleach|highlight:query }}
    </div>
  </div>
  {% endif %}
  {% endwith %}
  {% empty %}
  <div class="mt-4">
    <p class="alert alert-secondary">
      {% trans "Keine Ergebnisse zu deiner Suche!" %}
    </p>
  </div>
  {% endfor %}
</section>
{% endblock content %}
