.faq-container {
    display: flex;
    justify-content: space-around;
    align-itmes: flex-start;
    flex-direction: column;
    align-item: center;
    flex: 0 1 auto;
    align-self: center;
}

.faq-category {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #eee;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    align-self: stretch;

    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
}
.faq-category-title {
    display: flex;
    flex: 1 1;
    position: sticky;
    top: 115px;
    align-self: flex-start;
    width: 100%;
    background-color: white;
}
.faq-category-title h3 {
    margin-top: 0;
}

.faq-category-list {
    display: flex;
    flex: 5 1;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .faq-category {
	flex-direction: column;
    }
    .faq-category-title h3 {
	margin-top: 24px;
}

}
