{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Initiativen in Bezirken" %}{% endblock %}

{% block content %}
<section class="text-center">
  {% include 'initiative/ini_list_header.html' with view="list" %}

  <div class="row mt-3 text-start">

    <ul id="anchors" class="list-inline m-2"></ul>

    {% regroup initiative_list by location.county as county_list %}
    {% for county in county_list %}
    <section id="{{ county.grouper|slugify }}" class="grouped-by mt-4">
      <h3 class="d-flex justify-content-between bg-light">
	<span>{{ county.grouper }}</span>
	<span><a href="#anchors"><i class="fa fa-angle-double-up"></i></a></span>
      </h3>

      {% if list == 'line' %}
      <ul class="list-group">
	{% for ini in county.list %}
	{% include 'initiative/line.html' %}
	{% endfor %}
      </ul>
      {% else %}
      <div class="row margin-top-10 equal-height">
	{% for ini in county.list %}
	{% include 'initiative/card.html' %}
	{% endfor %}
      </div>
      {% endif %}
    </section>
    {% endfor %}

  </div>
  {% include 'initiative/ini_list_footer.html' %}
</section>
{% endblock content %}
