{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Initiativen nach Themen" %}{% endblock %}

{% block content %}
<section class="text-center">
  {% include 'initiative/ini_list_header.html' with view="list" %}

  <div class="row mt-3 text-start">

    <ul id="anchors" class="list-inline m-2"></ul>

    {% for topic_inis in topic_initiatives_list %}
    <section id="{{ topic_inis.0|slugify }}" class="grouped-by mt-4">
      <h3 class="d-flex justify-content-between bg-light">
	<span>
	  <img class="icon-secondary align-baseline" src="{{ topic_inis.0.parent.icon.url }}" alt="{{ topic_inis.0.parent }}"
	     title="{{ topic_inis.0.parent }}" height="22">
	  {{ topic_inis.0 }}
	</span>
	<span><a href="#anchors"><i class="fa fa-angle-double-up"></i></a></span>
      </h3>

      {% if list == 'line' %}
      <ul class="list-group">
	{% for ini in topic_inis.1 %}
	{% include 'initiative/line.html' %}
	{% endfor %}
      </ul>
      {% else %}
      <div class="row">
	{% for ini in topic_inis.1 %}
	{% include 'initiative/card.html' %}
	{% endfor %}
      </div>
      {% endif %}
    </section>
    {% endfor %}
  </div>

  {% include 'initiative/ini_list_footer.html' %}
</section>
{% endblock content %}
