{% load rules %}
{% load i18n %}
{% load email_obfuscator %}
{% load bleach_tags %}
{% load common_tags %}
{% load static %}

{% if user.is_authenticated %}
{% has_perm 'initiative.change_initiative' request.user ini as can_edit_initiative %}
{% has_perm 'initiative.add_event' request.user ini as can_add_event %}
{% endif %}

<div class="ini-card col-md-4 col-12 mb-3 px-2 text-start"
     data-topics="{% for st in ini.topics.all %}{{ st.pk }} {% endfor %}"
     data-county="{{ ini.location.state}}:{{ ini.location.county }}"
     data-names="{{ ini.name|lower }} {{ ini.abbr|lower }}"
     data-persons="{{ ini.admin.get_full_name|lower }} {{ ini.contact_person|lower }}"
     data-accessible="{{ ini.location.accessible }}">

  <div class="card h-100">
    <div class="card-body">

      <!-- logo and name -->
      <div class="row mb-2">
	<div class="col-sm-3 col-2">
	  <div class="">
	    <a href="{% url 'initiative:detail' ini.pk %}">
	      <img class="img-thumbnail" width="100" src="{% if ini.logo %}{{ ini.logo.thumbnail.url }}{% else %}{% static 'img/no-ini-logo.png' %}{% endif %}" alt="{{ ini }}">
	    </a>
	  </div>
	</div>
	<div class="col-sm-9 col-10">
	  <div class="fs-4 text-truncate">
	    <a href="{% url 'initiative:detail' ini.pk %}">{{ ini }}</a>
	  </div>
	</div>
      </div>

      <!-- topics -->
      <div class="mb-1">
	{% include 'initiative/topics-list.html' %}
      </div>

      <!-- contact info -->
      <div class="mb-2 text-truncate">
	<ul class="fa-ul">
	  {% if ini.location.address_formatted %}
	  <li>
	    <i class="fa-li fa fa-fw fa-map-marker" aria-hidden="true"></i>
	    <a href="{% url 'initiative:map-zoom' ini.pk %}">{{ ini.location.address_formatted }}</a>
	  </li>
	  {% endif %}
	  {% if ini.contact_person %}
	  <li>
	    <i class="fa-li fa fa-fw fa-user" aria-hidden="true"></i>
	    {{ ini.contact_person }}
	  </li>
	  {% endif %}
	  {% if ini.website %}
	  <li>
	    <i class="fa-li fa fa-fw fa-globe" aria-hidden="true"></i>
	    <a href="{{ ini.website }}" rel="noopener noreferrer" target="_blank">{{ ini.website }}</a>
	  </li>
	  {% endif %}
	  {% if ini.mail %}
	  <li>
	    <i class="fa-li fa fa-fw fa-envelope-o" aria-hidden="true"></i>
	    {{ ini.mail|obfuscate_mailto }}
	  </li>
	  {% endif %}
	  {% if ini.matrix_room %}
	  <li>
            <i class="fa-li fa fa-fw fa-matrix-org" aria-hidden="true"></i>
            <a href="{{ communication_tool.base_url }}{{ ini.matrix_room }}" target="_blank" rel="noopener noreferrer">
	      {{ ini.matrix_room }}
	    </a>
	  </li>
	  {% endif %}
	  {% if ini.phone %}
	  <li>
	    <i class="fa-li fa fa-fw fa-phone" aria-hidden="true"></i>
	    <a href="tel:{{ ini.phone|cut:" " }}">{{ ini.phone }}</a>
	  </li>
	  {% endif %}
	</ul>
      </div>

      <!-- short info -->
      <div class="row">
	<div class="clamp">
	  {{ ini.aim|html2text }}
	</div>
      </div>

    </div>

    {% if can_edit_initiative or can_add_event %}
    <div class="card-footer d-grid gap-2 d-lg-block">
      {% if can_edit_initiative %}<a class="btn btn-sm btn-secondary" href="{% url 'initiative:edit' ini.pk %}" title="{% trans 'Initiative bearbeiten' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Bearbeiten' %}</a>{% endif %}
      {% if can_add_event %}<a class="btn btn-sm btn-secondary" href="{% url 'event:add-event' ini.pk %}" title="{% trans 'Neue Veranstaltung anlegen' %}"><i class="fa fa-calendar" aria-hidden="true"></i> {% trans 'Veranstaltung hinzufügen' %}</a>{% endif %}
    </div>
    {% endif %}

  </div>
</div>

{%  comment %}
  <div class="well">
    <div class="media">
      <div class="media-left">
      </div>

      <div class="media-body">
	<h3 class="media-heading">
	  <a href="{% url 'initiative:detail' ini.pk %}">{{ ini }}</a>
	</h3>
      </div>
    </div>

    <div class="text-right">
      {% if ini.background %}
      <span class="label label-warning">{{ ini.get_background_display }}</span>
      {% endif %}

      {% if can_edit_initiative %}<a href="{% url 'initiative:edit' ini.pk %}" title="{% trans 'Initiative bearbeiten' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>{% endif %}
      {% if can_add_event %}<a href="{% url 'event:add-event' ini.pk %}" title="{% trans 'Neue Veranstaltung anlegen' %}"><i class="fa fa-calendar" aria-hidden="true"></i> {% trans 'Veranstaltung' %}</a>{% endif %}
    </div>

    <div>
      <ul class="list-inline">
	{% for st in ini.topics.all %}
	<li>
	  <a class="lead" href="{% url 'topic:detail' st.parent.pk %}#{{ st|slugify }}"><img src="{{ st.parent.icon.url }}" title="{{ st.parent }}" alt="{{ st.parent }}" height="16"> {{ st }}</a>
	</li>
	{% endfor %}
      </ul>
    </div>

    <div class="wrap-truncate">
      <ul class="fa-ul">
	{% if ini.location.address_formatted %}
	<li>
	  <i class="fa-li fa fa-fw fa-map-marker" aria-hidden="true"></i>
	  <a href="{% url 'initiative:map-zoom' ini.pk %}">{{ ini.location.address_formatted }}</a>
	</li>
	{% endif %}
	{% if ini.contact_person %}
	<li>
	  <i class="fa-li fa fa-fw fa-user" aria-hidden="true"></i>
	  {{ ini.contact_person }}
	</li>
	{% endif %}
	{% if ini.website %}
	<li>
	  <i class="fa-li fa fa-fw fa-globe" aria-hidden="true"></i>
	  <a href="{{ ini.website }}" rel="noopener noreferrer" target="_blank">{{ ini.website }}</a>
	</li>
	{% endif %}
	{% if ini.mail %}
	<li>
	  <i class="fa-li fa fa-fw fa-envelope-o" aria-hidden="true"></i>
	  {{ ini.mail|obfuscate_mailto }}
	</li>
	{% endif %}
	{% if ini.matrix_room %}
	<li>
          <i class="fa-li fa fa-fw fa-matrix-org" aria-hidden="true"></i>
          <a href="{{ communication_tool.base_url }}room/{{ ini.matrix_room }}" target="_blank" rel="noopener noreferrer">
	    {{ ini.matrix_room }}
	  </a>
        </li>
        {% endif %}
	{% if ini.phone %}
	<li>
	  <i class="fa-li fa fa-fw fa-phone" aria-hidden="true"></i>
	  <a href="tel:{{ ini.phone|cut:" " }}">{{ ini.phone }}</a>
	</li>
	{% endif %}
      </ul>
    </div>

    <div class="row margin-top-10">
      <div class="col-xs-12">
	<div class="clamp">
	  {{ ini.aim|html2text }}
	</div>
      </div>
    </div>

  </div>
</div>
{% endcomment %}
