{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load email_obfuscator %}
{% load bleach_tags %}
{% load rules %}
{% load pictures %}

{% block htmlattr %}prefix="og: http://ogp.me/ns#"{% endblock htmlattr %}
{% block title %}{{ ini }}{% endblock title %}

{% block extra_head %}
<meta property="og:url" content="{{ SITE_URL }}{{ ini.get_absolute_url }}/">
{% if ini.logo.thumbnail.url %}
<meta property="og:image" content="{{ SITE_URL }}{{ ini.logo.square.url }}">
<meta property="og:image:secure_url" content="{{ SITE_URL }}{{ ini.logo.square.url }}">
<meta property="og:image:width" content="{{ ini.logo.square.width }}">
<meta property="og:image:height" content="{{ ini.logo.square.height }}">
<meta name="twitter:image" content="{{ SITE_URL }}{{ ini.logo.square.url }}">
{% endif %}
<meta property="og:title" content="{{ ini.name }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ ini.aim|striptags }}">
<meta name="twitter:card" content="summary" />
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/social.css' %}"/>
<link rel="stylesheet" href="{% static 'glider-js/glider.min.css' %}">
{% endblock css %}

{% block content %}

{% if user.is_authenticated %}
{% has_perm 'initiative.change_initiative' request.user ini as can_edit_initiative %}
{% has_perm 'initiative.add_event' request.user ini as can_add_event %}
{% endif %}

<section id="steckbrief">
  {% if not ini.published and not can_edit_initiative %}
  <h1>{{ ini }}</h1>
  <p class="alert alert-warning">
    {% trans 'Diese Initiative ist derzeit nicht veröffentlicht!' %}
  </p>
  {% else %}
  <div class="d-flex justify-content-between">
    <div>
      <h1 class="text-break">{{ ini }}</h1>
      <!-- topics -->
      <div>
	{% include 'initiative/topics-list.html' %}
      </div>
    </div>

    <!-- logo -->
    <div class="h1">
      {% if ini.logo %}
      <img class="img-thumbnail" width="100" src="{{ ini.logo.medium.url }}" alt="{{ ini }}">
      {% else %}
      <img class="img-thumbnail" width="100" src="{% static 'img/no-ini-logo.png' %}" alt="{% trans 'Kein Logo' %}">
      {% endif %}
      {% if ini.abbr %}
      <h5 class="mt-1">{{ ini.abbr }}</h5>
      {% endif %}
    </div>
  </div>

  <div class="row d-flex justify-content-around flex-md-row flex-column-reverse">
    <!-- steckbrief -->
    <div class="col-12 col-md-9 mt-3 mt-md-0">
      <h3><a name="aim"></a>{{ ini.get_aim_verbose_name }} <small>{{ ini.get_aim_help_text }}</small></h3>
      {{ ini.aim|bleach }}

      <h3><a name="activity"></a>{{ ini.get_activity_verbose_name }} <small>{{ ini.get_activity_help_text }}</small></h3>
      {{ ini.activity|bleach }}

      <h3><a name="contribution"></a>{{ ini.get_contribution_verbose_name }} <small>{{ ini.get_contribution_help_text }}</small></h3>
      {{ ini.contribution|bleach }}

      {% if ini.note %}
      <h3><a name="note"></a>{{ ini.get_note_verbose_name }} <small>{{ ini.get_note_help_text }}</small></h3>
      {{ ini.note|bleach }}
      {% endif %}
    </div>

    <div class="col-12 col-md-3">

      <!-- contact -->
      <h3>{% trans "Kontakt" %}</h3>
      <ul class="fa-ul">
        {% if ini.location.address_formatted %}
        <li>
          <i class="fa-li fa fa-fw fa-map-marker" aria-hidden="true"></i>
          <a href="{% url 'initiative:map-zoom' ini.pk %}">{{ ini.location.address_formatted }}</a>
        </li>
        {% endif %}
        {% if ini.contact_person %}
        <li>
          <i class="fa-li fa fa-fw fa-user" aria-hidden="true"></i>
          {{ ini.contact_person }}
        </li>
        {% endif %}
        {% if ini.website %}
        <li>
          <i class="fa-li fa fa-fw fa-globe" aria-hidden="true"></i>
          <a href="{{ ini.website }}" rel="noopener noreferrer" target="_blank">{{ ini.website }}</a>
        </li>
        {% endif %}
        {% if ini.mail %}
        <li>
          <i class="fa-li fa fa-fw fa-envelope-o" aria-hidden="true"></i>
          {{ ini.mail|obfuscate_mailto }}
        </li>
        {% endif %}
	{% if ini.matrix_room %}
	<li>
          <i class="fa-li fa fa-fw fa-matrix-org" aria-hidden="true"></i>
          <a href="{{ communication_tool.base_url }}{{ ini.matrix_room }}" target="_blank" rel="noopener noreferrer">
	    {{ ini.matrix_room }}
	  </a>
        </li>
        {% endif %}
        {% if ini.phone %}
        <li>
          <i class="fa-li fa fa-fw fa-phone" aria-hidden="true"></i>
          <a href="tel:{{ ini.phone|cut:" " }}">{{ ini.phone }}</a>
        </li>
        {% endif %}
      </ul>

      {% if ini.background or ini.legal_form or ini_size %}
      <h3>{% trans "Info" %}</h3>
      {% if ini.background %}
      <div class="mb-1">
	<span class="badge bg-secondary">{{ ini.get_background_display }}</span>
      </div>
      {% endif %}

      <ul class="list-unstyled">
	{% if ini.legal_form %}
	<li>
	  <b>{% trans 'Rechtsform' %}</b>:
	  {{ ini.get_legal_form_display }}
	</li>
	{% endif %}
	{% if ini.size %}
	<li>
	  <b>{% trans 'Aktive' %}</b>:
	  {{ ini.size }}
	</li>
	{% endif %}
      </ul>
      {% endif %}

      {% if user.is_authenticated %}
      <ul class="list-unstyled">
	<li>
	  <b>{% trans 'Admin' %}</b>:
	  <a href="{% url 'profile:detail' ini.admin.pk %}">{{ ini.admin.get_full_name|default:_("Kein Name angegeben") }}</a>
	</li>
	<li>
	  <b>{% trans 'Angelegt' %}</b>:
	  {{ ini.create|date:"Y-m-d" }}
	</li>
	<li>
	  <b>{% trans 'Aktualisiert' %}</b>:
	  {{ ini.update|date:"Y-m-d" }}
	</li>

	{% if can_edit_initiative %}
	{% if not ini.published %}
	<li>
	  <span class="badge bg-primary">{% trans 'Nicht veröffentlicht' %}</span>
	  {{ moderation_mail|obfuscate_mailto:"Nachfragen" }}
	</li>
	{% endif %}
	{% if ini.moderation %}
	<li>
	  <b>{% trans 'Moderierte Initiative' %}</b>
	  {{ moderation_mail|obfuscate_mailto:"Nachfragen" }}
	</li>
	{% endif %}
	{% endif %}
      </ul>
      {% endif %}

      {% if can_edit_initiative or can_add_event %}
      <div class="d-grid gap-2 mt-2">
	{% if can_edit_initiative %}
	<a class="btn btn-secondary" href="{% url 'initiative:edit' ini.pk %}">
	  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Bearbeiten' %}
	</a>
	{% endif %}
	{% if can_add_event %}
	<a class="btn btn-secondary" href="{% url 'event:add-event' ini.pk %}">
	  <i class="fa fa-calendar" aria-hidden="true"></i> {% trans 'Veranstaltung hinzufügen' %}
	</a>
	{% endif %}
      </div>
      {% endif %}

      <div class="mt-2">
	<a href="mailto:{{ moderation_mail }}?subject='{{ ini }}' {% trans 'als unangemessen melden' %}&body={% trans 'Hallo,%0A%0Aich möchte diese Initiative als unangemessen melden' %}:%0Ahttp://{{ request.META.HTTP_HOST }}{{ ini.get_absolute_url }}%0A%0AMit Bitte um Rückmeldung%0A">
	  <i class="fa fa-bell-o" aria-hidden="true" title="{% trans 'Eintrag als unangemessen melden' %}"></i>
	  {% trans 'Melden' %}
	</a>
      </div>

    </div>
  </div>


  <div class="row mt-3 g-5 d-print-none">
    {% if next_events %}
    <div class="col-12">
      <h3>{% trans 'Kommende Veranstaltungen' %}</h3>
      <div class="glider-contain multiple">
	<div class="glider row">
	  {% for occ in next_events %}
	  {% include 'event/card.html' with event=occ.event %}
	  {% endfor %}
	</div>

	<button role="button" aria-label="Previous" class="glider-prev"><i class="fa fa-chevron-left"></i></button>
	<button role="button" aria-label="Next" class="glider-next"><i class="fa fa-chevron-right"></i></button>
	<div class="dots"></div>
      </div>
    </div>
    {% endif %}

    {% if ini.picture_set.all %}
    <div class="col-12">
      <h3>{% trans "Bilder" %}</h3>

      <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-interval="false">
	<div class="carousel-indicators">
	  {% for picture in ini.picture_set.all %}
	  <button type="button" data-bs-target="#carousel"
		  data-bs-slide-to="{{ picture.order }}"
		  {% if forloop.first %}class="active"{% endif %}
		  aria-current="true" aria-label="Slide {{ picture.order }}"></button>
	  {% endfor %}
	</div>

	<div class="carousel-inner">
	  {% for picture in ini.picture_set.all %}
	  <div class="carousel-item{% if forloop.first %} active{% endif %}">
	    {% picture picture.photo img_alt=picture.title img_loading="lazy" img_class="d-block" %}
	    <div class="carousel-caption d-none d-md-block">
	      <h5>{{ picture.title }}</h5>
	    </div>
	  </div>
	  {% endfor %}
	</div>

	<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">{% trans 'Voriges' %}</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">{% trans 'Nächstes' %}</span>
	</button>
      </div>
    </div>
    {% endif %}

    {% if ini.matrix_room %}
    <div class="col-12">
      <h3>
	{% trans "Öffentlicher Matrix Raum" %}
	<a href="{{ communication_tool.base_url }}{{ ini.matrix_room }}" target="_blank" rel="noopener noreferrer">
	  {{ ini.matrix_room }}
	</a>
      </h3>
      <matrix-live
	mail_address="webmaster@gemeinsam.jetzt"
	room-alias="{{ ini.matrix_room }}"
	initial-load="60"
	show-footer="true">
      </matrix-live>
      <script src="{% static 'initiative/matrix-live-min.js' %}"></script>
    </div>
    {% endif %}
  </div>

  <div id="social-buttons" class="row my-3">
    <div class="col-12 text-center">
      {% with obj=ini name=ini.name %}
      {% include 'social/social.html' %}
      {% endwith %}
    </div>
  </div>
  {% endif %}
</section>

{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static 'js/clamp.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/clamp.js' %}"></script>
<script type="text/javascript" src="{% static 'glider-js/glider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/glider.js' %}"></script>
{% endblock js %}
