{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load email_obfuscator %}
{% load common_tags %}
{% load pictures %}

{% block title %}
{% if form.instance.pk %}
{{ form.instance }}
{% else %}
{% trans "Neue Initiative anlegen" %}
{% endif %}
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'bootstrap-select/dist/css/bootstrap-select.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'initiative/style.css' %}" />
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-sortable/source/js/jquery-sortable-min.js' %}"></script>
<script type="text/javascript" src="{% static 'blueimp-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
<script type="text/javascript" src="{% static 'blueimp-file-upload/js/jquery.iframe-transport.js' %}"></script>
<script type="text/javascript" src="{% static 'blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
<script type="text/javascript" src="{% static 'initiative/picture-upload.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'bootstrap-autocomplete/dist/latest/bootstrap-autocomplete.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/bootstrap-autocomplete.min.js' %}"></script>
<script type="text/javascript" src="{% static 'initiative/permission.js' %}"></script>
<script type="text/javascript" src="{% static 'js/edit-tabs.js' %}"></script>
{% endblock js %}

{% block content %}

<h2>{% if form.instance.pk %}{{ form.instance }} <small>{% trans "bearbeiten" %}</small>{% else %}{% trans "Neue Initiative anlegen" %}{% endif %}</h2>

{% if form.errors %}
<div class="alert alert-secondary alert-dismissible" role="alert">
  {% blocktrans %}
  Deine Initiative konnte nicht gespeichert werden. Bei allen rot
  markierten Feldern sind Fehler aufgetreten. Bitte verbessere diese
  und versuche es nochmals.
  {% endblocktrans %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans 'Schließen' %}"></button>
</div>
{% endif %}

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active {% if form.name.errors %}text-danger{% endif %}"
	    data-bs-target="#basics" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="basics"
	    aria-selected="true">
      {% trans "Grundinfo" %}
    </button>
  </li>
  <li class="nav-item" role="tablist">
    <button class="nav-link {% if form.aim.errors or form.activity.errors or form.contribution.errors %}text-danger{% endif %}"
	    data-bs-target="#steckbrief" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="steckbrief"
	    aria-selected="false">
      {% trans "Steckbrief" %}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link {% if form.topics.errors %}text-danger{% endif %}"
	    data-bs-target="#topics" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="topics"
	    aria-selected="false">
      {% trans "Themen" %}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link {% if form.location.errors %}text-danger{% endif %}"
	    data-bs-target="#location" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="location"
	    aria-selected="false">
      {% trans "Adresse" %}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link {% if form.mail.errors or form.website.errors or form.matrix_room.errors %}text-danger{% endif %}"
	    data-bs-target="#contact" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="contact"
	    aria-selected="false">
      {% trans "Kontakt" %}
    </button>
  </li>
  {% if form.instance.pk %}
  <li class="nav-item" role="presentation">
    <button class="nav-link"
	    data-bs-target="#pictures" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="pictures"
	    aria-selected="false">
      {% trans "Bilder" %}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link"
	    data-bs-target="#collaborators" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="collaborators"
	    aria-selected="false">
      {% trans "Mitarbeiter*innen" %}
    </button>
  </li>
  {% if form.instance.admin == request.user %}
  <li class="nav-item ms-auto" role="presentation">
    <button class="nav-link"
	    data-bs-target="#delete" data-bs-toggle="tab"
	    type="button" role="tab" aria-controls="delete"
	    aria-selected="false">
      {% trans "Löschen" %}
    </button>
  </li>
  {% endif %}
  {% endif %}
</ul>

<form  enctype="multipart/form-data" method="post" novalidate role="form">
  {% csrf_token %}
  {{ form.media }}

  <div class="row mt-3">
    <div class="col-12">
      <div class="tab-content">

	<!-- basics -->
	<div id="basics" class="tab-pane fade show active">
	  <h3>{% trans "Grundinfo" %}</h3>

	  <p class="help-block">
	    {% blocktrans %}
	    Hier machst du die Grundangaben zu deiner Initiative. Einen Namen musst
	    du angeben, alle anderen Felder sind optional. Je mehr Informationen
	    du bereitstellst, desto besser präsentierst du deine Initiative.
	    {% endblocktrans %}
	  </p>

	  <div class="form-floating mb-3 required">
	    {{ form.name|add_invalid }}
	    <label for="{{ form.name.id_for_label }}">
	      {{ form.name.help_text }}
	    </label>
	    <div class="invalid-feedback">
	      {{ form.name.errors|join:", " }}
	    </div>
	  </div>

	  <div class="form-floating mb-3">
	    {{ form.abbr }}
	    <label for="{{ form.abbr.id_for_label }}">
	      {{ form.abbr.help_text }}
	    </label>
	  </div>

	  <div class="mb-3">
	    <label class="form-label" for="id_logo">{{ form.logo.label }}</label>
	    {% if form.logo.value %}
	    <div class="d-flex">
	      <div class="me-3">
		<img src="{{ form.logo.value.thumbnail.url }}" alt="{% trans 'Logo' %}" class="img-thumbnail">
	      </div>
	      <div>
		<div class="form-check">
		  <input class="form-check-input" id="logo-clear_id" type="checkbox" name="logo-clear">
		  <label class="form-check-label">
		    {% trans "Löschen" %}
		  </label>
		</div>
		<div class="input-group">
		  <label class="input-group-text" for="id_logo">{% trans "Ändern" %}</label>
		  <input type="file" name="logo" accept="image/*" class="form-control"
			 placeholder="Logo der Initiative" id="id_logo">
		</div>
	      </div>
	    </div>
	    {% else %}
	    <div>
	      <input type="file" name="logo" accept="image/*" class="form-control"
		     placeholder="Logo der Initiative" id="id_logo">
	    </div>
	    {% endif %}
	  </div>

	  <hr/>

	  <div class="form-floating mb-3">
	    {{ form.legal_form }}
	    <label for="{{ form.legal_form.id_for_label }}" class="control-label">
	      {{ form.legal_form.label }}
	    </label>
	  </div>

	  <div class="form-floating mb-3">
	    {{ form.size }}
	    <label for="{{ form.size.id_for_label }}" class="control-label">
	      {{ form.size.label }}
	    </label>
	  </div>

	</div>

	<!-- steckbrief -->
	<div id="steckbrief" class="tab-pane fade">
	  <h3>{% trans "Steckbrief" %}</h3>

	  <p class="help-block">
	    {% blocktrans %}
	    Beschreibe deine Initiative! Du kannst die Texte mit den vorgegeben
	    Möglichkeiten formatieren. Links auf externe Seiten müssen mit der
	    vollen url angegeben werden, z.B. http://www.meine-initiative.org.
	    {% endblocktrans %}
	  </p>

	  <div class="mb-3 required {% if form.aim.errors %}text-danger{% endif %}">
	    <label for="{{ form.aim.id_for_label }}">
	      {{ form.aim.help_text }} ({{ form.aim.label }})
	    </label>
	    {{ form.aim }}
	  </div>

	  <div class="mb-3 required {% if form.activity.errors %}text-danger{% endif %}">
	    <label for="{{ form.activity.id_for_label }}">
	      {{ form.activity.help_text }} ({{ form.activity.label }})
	    </label>
	    {{ form.activity }}
	  </div>

	  <div class="mb-3 required {% if form.contribution.errors %}text-danger{% endif %}">
	    <label for="{{ form.contribution.id_for_label }}">
	      {{ form.contribution.help_text }} ({{ form.contribution.label }})
	    </label>
	    {{ form.contribution }}
	  </div>

	  <div class="mb-3">
	    <label for="{{ form.note.id_for_label }}">
	      {{ form.note.help_text }} ({{ form.note.label }})
	    </label>
	    {{ form.note }}
	  </div>

	</div>

	<!-- location -->
	<div id="location" class="tab-pane fade">
	  <h3>{% trans "Adresse" %}</h3>

 	  <p class="help-block">
	    {% blocktrans %}
	    Hier musst du die Adresse deiner
	    Initiative eingeben. Du kannst einen neuen Ort anlegen,
	    indem du die unterste Option 'Auf Karte wählen' anklickst,
	    oder einen bereits eingetragenen verwenden.  Hat deine
	    Initiative keinen festen Sitz, markiere auf der Karte
	    bitte einfach das Ortszentrum.
	    {% endblocktrans %}
	  </p>

	  <div class="mb-3 required {% if form.location.errors %}text-danger{% endif %}">
            <label for="{{ form.location.id_for_label }}" class="control-label">
              {{ form.location.label }}
            </label>
            {{ form.location }}
          </div>

          <div id="location_form" class="collapse">
            {% with form=location_form %}
            {% include 'location/location_form.html' %}
            {% endwith %}
          </div>

	</div>

	<!-- contact -->
	<div id="contact" class="tab-pane fade">
	  <h3>{% trans "Kontakt" %}</h3>

	  <p class="help-block">
	    {% blocktrans %}
	    Hier kannst du Kontaktdaten zu deiner Initiative eintragen.
	    {% endblocktrans %}
	  </p>

	  <div class="form-floating mb-3">
	    {{ form.contact_person }}
	    <label for="{{ form.contact_person.id_for_label }}">
	      {{ form.contact_person.label }}
	    </label>
	  </div>

	  <div class="form-floating mb-3">
	    {{ form.phone }}
	    <label for="{{ form.phone.id_for_label }}">
	      {{ form.phone.label }}
	    </label>
	  </div>

	  <div class="form-floating mb-3">
	    {{ form.mail|add_invalid }}
	    <label for="{{ form.mail.id_for_label }}">
	      {{ form.mail.label }}
	    </label>
	    <div class="invalid-feedback">
              {{ form.mail.errors|join:", " }}
            </div>
	  </div>

	  <div class="form-floating mb-3">
	    {{ form.website|add_invalid }}
	    <label for="{{ form.website.id_for_label }}" class="control-label">
	      {{ form.website.label }}
	    </label>
	    <div class="invalid-feedback">
              {{ form.website.errors|join:", " }}
            </div>
	  </div>

	  <div class="form-floating mb-3">
	    {{ form.matrix_room|add_invalid }}
	    <label for="{{ from.matrix_room.id_for_label }}">
	      {{ form.matrix_room.label }}
	    </label>
	    <div class="invalid-feedback">
              {{ form.matrix_room.errors|join:", " }}
            </div>
	  </div>

	</div>

	<!-- topics -->
	<div id="topics" class="tab-pane fade">
	  <h3>{% trans "Themen" %}</h3>

	  <p class="help-block">
	    {% blocktrans %}
	    Mit welchen Themen beschäftigt sich deine Initiative?
	    Wähle bis zu drei Themen. Dadurch kann deine Initiative
	    leichter gefunden werden.
	    {% endblocktrans %}
	  </p>

	  <div class="mb-3 required {% if form.topics.errors %}text-danger{% endif %}">
	    <label>
	      {{ form.topics.label }}
	    </label>
	    {{ form.topics }}

	    {% if form.topics.errors %}
	    <div class="invalid-feedback" style="display: block">
	      {{ form.topics.errors|join:", " }}
            </div>
	    {% endif %}
	  </div>
	</div>

	{% if form.instance.pk %}
	<!-- pictures -->
	<div id="pictures" class="tab-pane fade">
	  <h3>{% trans "Bilder" %}</h3>

	  <p class="help-block">
	    {% blocktrans %}
	    Du kannst Bilder deiner Initiative hochladen. Bitte beachte,
	    dass diese Bilder öffentlich zugänglich sind. Kläre mit allen
	    abgebildeten Personen, ob sie dieser Veröffentlichung zustimmen.
	    {% endblocktrans %}
	  </p>

	  <div class="card py-4 mb-5">
	    <div class="card-body text-muted text-center">
	      <span class="fa fa-upload fa-5x"></span>
	      <h4>{% trans 'Bilder zum Hochladen hier ablegen' %}</h4>
	      <p>
		{% trans 'oder' %}
	      </p>
	      <button type="button" class="btn btn-outline-primary js-upload-photos">
		<i class="fa fa-upload"></i>
		{% trans 'Wähle Bilder' %}
	      </button>
	      <input id="fileupload" type="file" name="photo" multiple
		     style="display: none;"
		     data-url="{% url 'initiative:picture-upload' form.instance.pk %}"
		     data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
	      <p class="mt-5 help-block">
		{% blocktrans %}
		Für eine gute Darstellung auch auf großen Bildschirmen sollten die
		Bilder eine Auflösung von mindestens 1500x1000px haben.
		{% endblocktrans %}
	      </p>
	    </div>
	  </div>

	  <div id="picture-sort">
	    <p class="help-block">
	      {% blocktrans %} Hier kannst du die Titel deiner Bilder
	      anpassen, Bilder löschen und die Reihenfolge deiner Fotos
	      durch Ziehen am Doppelkreuz festlegen.
	      {% endblocktrans %}
	    </p>

	    <ul id="sortable" class="list-group">
	      {% for picture in form.instance.picture_set.all %}
	      <li class="list-group-item">
		<div class="d-flex justify-content-between">
		  <div class="align-self-center">
		    <i class="fa fa-arrows" aria-hidden="true"></i>
		  </div>
		  <div class="input-group ms-2">
		    <span class="input-group-prepend">
		      {% picture picture.photo img_alt=picture.title img_class="thumbnail d-block" container=600 xs=.5 %}
		    </span>
		    <input type="hidden" value="{{ picture.pk }}" name="sorting[]">
		    <input type="text" class="form-control form-control-sm" value="{{ picture.title }}"
			   name="title-{{ picture.pk }}" placeholder="{% trans 'Titel' %}">
		    <span class="input-group-append">
		      <button type="button" data-url="{% url 'initiative:picture-delete' %}"
			      data-id="{{ picture.pk }}"
			      data-token="{{ csrf_token }}"
			      class="delete btn btn-sm btn-danger me-auto">
			{% trans 'Löschen' %}
		      </button>
		    </span>
		  </div>
		</div>
	      </li>
	      {% endfor %}
	    </ul>
	  </div>

	</div>
	<!-- end pictures -->
	{% endif %}

	{% if form.instance.pk %}
	<!-- collaborators -->
	<div id="collaborators" class="tab-pane fade">
	  <h3>{% trans "Mitarbeiter*innen" %}</h3>

	  {% if form.instance.admin == request.user %}

	  <p class="help-block">
	    {% blocktrans %}
	    Hier kannst du festlegen, wer welche
	    Module bei deiner Initiative bearbeiten darf.
	    {% endblocktrans %}
	    <strong>
	      {% blocktrans %}
	      Mitarbeiter*innen benötigen ein Konto auf gemeinsam.jetzt!
	      {% endblocktrans %}
	    </strong>
	  </p>

	  <p class="help-block">
	    {% blocktrans %}
	    Um neue Mitarbeiter*innen hinzuzufügen, tippe in das untere Feld
	    mindestens 3 Buchstaben des Vor-, Nach- oder Benutzer*innennamens
	    der gesuchten Person und klicke das gewünschte Ergegnis an.

	    Dann wähle noch, welche Module diese Person bearbeiten soll.

	    Wenn du alle
	    Module rechts abwählst, entziehst du der/m Benutzer*in alle
	    Bearbeitungsrechte.
	    {% endblocktrans %}

	    <strong>
	      {% blocktrans %}
	      Vergiss nicht, deine Änderungen mit 'Speichern'
	      zu bestätigen.
	      {% endblocktrans %}
	    </strong>
	  </p>

	  <ul class="list-group" id="permissions">
	    {% for user, modules in permission_list %}
	    <li class="list-group-item">
	      <div class="d-flex justify-content-between">
		<div class="user">
		  {{ user.get_full_name|default:user.username }}
		</div>
		<div>
		  {% for mod_id, mod_name in module_list %}
		  <input class="ms-3" type="checkbox" name="permissions[]"
			 {% if mod_id in modules %}checked="checked"{% endif %}
			 value="{{ user.pk }}-{{ mod_id }}">
		  <label class="checkbox-inline ms-1">{{ mod_name }}</label>
		  {% endfor %}
		</div>
	      </div>
	    </li>
	    {% endfor %}
	  </ul>

	  <div class="d-none" id="template">
	    <li class="list-group-item">
	      <div class="d-flex justify-content-between">
		<div class="user">
		</div>
		<div>
		  {% for mod_id, mod_name in module_list %}
		  <input class="ms-3" type="checkbox" checked="checked"
			 value="-{{ mod_id }}">
		  <label class="checkbox-inline ms-1">{{ mod_name }}</label>
		  {% endfor %}
		</div>
	      </div>
	    </li>
	  </div>

	  <div class="my-3">
	    <select id="user-select" class="form-control basicAutoComplete" type="text"
		    placeholder="{% trans 'Suche Person ...' %}"
		    data-url="{% url 'initiative:user_list' form.instance.pk %}"
		    data-noresults-text="{% trans 'Keine Person gefunden' %}"
		    autocomplete="off">
	    </select>
	  </div>

	  {% else %}
          <p class="help-block">
	    {% blocktrans %}
	    Hier siehst du, wer was bei deiner Initiative bearbeiten darf.
	    {% endblocktrans %}
	  </p>

	  <ul class="list-group">
	    <li class="list-group-item">
	      <div class="d-flex justify-content-between">
		<div class="fw-bold">{{ form.instance.admin.get_full_name|default:form.instance.admin.username }}</div>
		<div>{% trans "Administrator*in" %}</div>
	      </div>
	    </li>
	    {% for user, modules in permission_list %}
	    <li class="list-group-item">
	      <div class="d-flex justify-content-between">
		<div>{{ user.get_full_name|default:user.username }}</div>
		<ul class="list-inline">
		  {% for mod_id, mod_name in module_list %}
		  {% if mod_id in modules %}<li class="list-inline-item">{{ mod_name }}</li>{% endif %}
		  {% endfor %}
		</ul>
	      </div>
	    </li>
	    {% endfor %}
          </ul>
	  {% endif %}

	</div>
	{% endif %}
	<!-- end collaborators -->

	{% if form.instance.pk and form.instance.admin == request.user %}
	<!-- deletion -->
      	<div id="delete" class="tab-pane fade">
	  <h3>{% trans "Löschen" %}</h3>

	  <p class="help-block">
	    {% blocktrans %}
	    Willst du diese Initiative wirklich löschen? Dann bestätige dies bitte
	    mit einem Häkchen.
	    {% endblocktrans %}
	  </p>
	  <p class="text-danger">
	    {% blocktrans %}
	    Die Initiative wird dann ohne weitere Nachfrage unwiderruflich gelöscht!
	    {% endblocktrans %}
	    {% if form.instance.pk and form.instance.events.count %}
	    {% blocktrans %}
	    Dabei werden selbstverständlich auch sämtliche
	    Veranstaltungen, die zu dieser Initiative gehören,
	    gelöscht.
	    {% endblocktrans %}
	    {% endif %}
	  </p>

	  <p>
	    {% blocktrans %}
	    Alternativ kannst du deine Initiative entweder einer anderen Person
	    übertragen oder du lässt deine Initiative auf unveröffentlicht stellen.
	    Damit bleiben die Daten erhalten, aber sie werden nicht mehr angezeigt.
	    In beiden Fällen schreibe bitte eine mail an:
	    {% endblocktrans %}
	    {{ settings.MODERATION_EMAIL|obfuscate_mailto }}
	  </p>

	  <div class="checkbox">
	    <label>
	      {{ form.deletion }} {{ form.deletion.label }}
	    </label>
	  </div>
	</div>
	<!-- end deletion -->
	{% endif %}

      </div>

      <hr/>
      <div class="mt-3">
	<input class="btn btn-primary col-4 col-md-3 col-lg-2 me-2" type="submit" value="{% trans 'Speichern' %}" formnovalidate>
	<input class="btn btn-secondary col-4 col-md-3 col-lg-2" type="cancel" value="{% trans 'Abbrechen' %}" onclick="javascript:window.history.back()">
      </div>

    </div>
  </div>

</form>


<!-- modal dialog for image upload -->
<div class="modal fade" id="modal-progress" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<h4 class="modal-title">{% trans 'Hochladen ...' %}</h4>
      </div>
      <div class="modal-body">
	<div class="progress">
	  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 0%;">0%</div>
	</div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
