{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Initiativen" %}{% endblock %}

{% block content %}
<section class="text-center">
  {% include 'initiative/ini_list_header.html' with view="list" %}

  <div class="row mt-3 text-start">
    {% if list == 'line' %}
    <ul class="list-group">
      {% for ini in initiative_list %}
      {% include 'initiative/line.html' %}
      {% endfor %}
    </ul>
    {% else %}
    {% for ini in initiative_list %}
    {% include 'initiative/card.html' %}
    {% endfor %}
    {% endif %}
  </div>

  {% include 'initiative/ini_list_footer.html' %}
</section>
{% endblock content %}
