{% load static %}
{% load initiative_elements %}

<div class="col-md-4 col-12 mb-3 px-2 text-start">
  <div class="card h-100">
    <div class="card-body">
      <div class="row mb-2">
	<div class="col-sm-3 col-2">
	  <div>
	    <a href="{% url 'initiative:detail' ini.pk %}">
	      <img class="img-thumbnail" width="100" src="{% if ini.logo %}{{ ini.logo.thumbnail.url }}{% else %}{% static 'img/no-ini-logo.png' %}{% endif %}" alt="{{ ini }}">
	    </a>
	  </div>
	</div>

	<div class="col-sm-9 col-10">
	  <div class="fs-4 text-truncate">
	    <a href="{% url 'initiative:detail' ini.pk %}">{{ ini }}</a>
	  </div>
	  {% initiative_matrix_contact ini %}
	</div>
      </div>

      <div class="row">
	{% initiative_matrix_users ini request.user %}
      </div>
    </div>
  </div>
</div>
