{% load i18n %}
{% load static %}

<div id="no-entry">
  <div class="mt-3 alert alert-warning">
    {% trans "Zu deinen Filtern gibt es im Moment leider keine Initiative." %}
  </div>
</div>

<script type="text/javascript" src="{% static 'initiative/filter-list.js' %}"></script>

<script>
  Array.prototype.map.call(document.getElementsByClassName("clamp"), function(div){$clamp(div, {clamp: 3})});
</script>
