{% load i18n %}
{% load static %}

{% block js %}
<script type="text/javascript" src="{% static 'js/clamp.min.js' %}"></script>
{% endblock js %}

<h1>{% trans 'Initiativen' %}</h1>
<p class="lead text-xs-center">
  Auf geht es zu den Steckbriefen der eingetragenen Initiativen! Hier
  findest du Beschreibungen zu deren Wirken und Tun. Nutze auch die
  Karte, die Filterfunktion oder gruppiere Deine Suche nach Thema oder
  Bezirk.
</p>

<div class="btn-toolbar justify-content-between" role="toolbar">
  <div class="btn-group" role="group">
    <a class="btn btn-outline-primary btn-md {% if list == '' %}active{% endif %}" href="{% url 'initiative:'|add:group %}">{% trans "Kacheln" %}</a>
    <a class="btn btn-outline-primary btn-md {% if list == 'line' %}active{% endif %}" href="{% url 'initiative:'|add:group|add:'-line' %}">{% trans "Liste" %}</a>
    <a class="btn btn-outline-primary btn-md {% if view == 'map' %}active{% endif %}" href="{% url 'initiative:map' %}">{% trans "Karte" %}</a>
  </div>

  <div class="btn-group" role="group">
    {% if view == 'list' %}
    <div class="btn-group" role="group">
      <button id="ini-grouping" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
	{% trans "Gruppierung" %}
      </button>
      {% with list|yesno:"-,"|add:list as suffix %}
      <ul class="dropdown-menu" aria-labelledby="ini-grouping">
	<li>
	  <a class="dropdown-item {% if group == 'index' %}active{% endif %}" href="{% url 'initiative:index'|add:suffix %}">{% trans "Keine" %}</a>
	</li>
	<li class="dropdown-divider"></li>
	<li>
	  <a class="dropdown-item {% if group == 'bycounty' %}active{% endif %}" href="{% url 'initiative:bycounty'|add:suffix %}">{% trans "Bezirk" %}</a>
	</li>
	<li>
	  <a class="dropdown-item {% if group == 'bytopic' %}active{% endif %}" href="{% url 'initiative:bytopic'|add:suffix %}">{% trans "Thema" %}</a>
	</li>
      </ul>
      {% endwith %}
    </div>
    {% endif %}
    {% include 'filter/filter-button.html' %}
  </div>
</div>

{% include 'filter/filter-modal.html' %}
