{% if user_list %}
<ul class="list-inline">
  {% for user in user_list %}
  <li class="list-inline-item">
    <a href="{{ communication_tool.base_url }}{{ user.profile.matrix_id }}" target="_blank" rel="noopener noreferrer">{{ user.profile.matrix_id }}</a>
    (<a href="{% url 'profile:detail' user.pk %}">{{ user.first_name }} {{ user.last_name }}</a>)
  </li>
  {% endfor %}
</ul>
{% endif %}
