{% if ini.matrix_room %}
<ul class="list-unstyled">
  <li>
    <a href="{{ communication_tool.base_url }}{{ ini.matrix_room }}" target="_blank" rel="noopener noreferrer">
      {{ ini.matrix_room }}
    </a>
  </li>
</ul>
{% endif %}
