{% load i18n %}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }} {% trans "Erinnerung" %}</title>
  </head>
  <body>
    <p>
      {% blocktrans with name=initiative.admin.get_full_name|default:initiative.admin.username %}
      Hallo {{ name }},
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      BITTE GIB UNS EIN SIGNAL
      {% endblocktrans %}
    </p>
    <ul>
      <li>
	{% blocktrans %}
	<strong>Logge dich in DEIN Konto ein</strong> und gib den
	engagierten Menschen und der Plattform ein Update von deiner
	Initiative und Aktivitäten!
	{% endblocktrans %}
      </li>
      <li>
	{% blocktrans %}
	Sollte sich nichts am Steckbrief oder den Terminen geändert
	haben, dann klicke innerhalb der nächsten <strong>10</strong>
	Tage auf den folgenden Link. Damit wird deine Initiative
	automatisch aktualisiert und wir, die Menschen und die
	Datenbank wissen: <strong>„Alles ist aktuell!“</strong>
	{% endblocktrans %}

	<a href="https://{{ site.domain }}{% url 'initiative:update' token %}">
	  {% trans 'Bestätige' %} {{ initiative }}
	</a>
      </li>
    </ul>

    <p>
      {% blocktrans %}
      SO EINFACH GEHT DAS
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      Bitte aktualisiere deine Initiative auf
      {% endblocktrans %}
      <br>
      <a href="https://{{ site.domain }}{% url 'initiative:edit' initiative.pk %}">https://{{ site.domain }}{% url 'initiative:edit' initiative.pk %}</a>
    </p>

    <p>
      {% blocktrans %}
      Vergiss nicht, den Speichern-Button zu klicken!
      {% endblocktrans %}
    </p>


    <p>
      {% blocktrans %}
      WARUM ERHÄLTST DU DIESE MAIL
      {% endblocktrans %}
    </p>

    <p>
      {% trans 'Du hast deine Initiative' %}<br/><br/>
      <em>{{ initiative }}</em><br/><br/>
      {% blocktrans with last_update=initiative.update|date:"Y-m-d" %}
      zum letzten Mal am {{ last_update }} bearbeitet. Dies ist
      bereits {{ days_update }} Tage her.
      {% endblocktrans %}
    </p>


    <p>
      {% blocktrans %}
      AN WEN KANNST DU DICH BEI FRAGEN WENDEN
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      Falls du irgendwelche Fragen dazu hast, wende dich
      einfach an die Moderation, indem du auf diese mail antwortest
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans with site_name=site.name %}
      Dein {{ site_name }} Team
      {% endblocktrans %}
    </p>
  </body>
</html>
