<li class="ini-card list-group-item"
    data-topics="{% for st in ini.topics.all %}{{ st.pk }} {% endfor %}"
    data-county="{{ ini.location.state}}:{{ ini.location.county }}"
    data-names="{{ ini.name|lower }} {{ ini.abbr|lower }}"
    data-persons="{{ ini.admin.get_full_name|lower }} {{ ini.contact_person|lower }}"
    data-accessible="{{ ini.location.accessible }}">
  <div class="d-flex justify-content-between">
    <div>
      <div class="text-break">
	<a class="lead" href="{% url 'initiative:detail' ini.pk %}">{{ ini }}</a>
	{% if ini.background %}
	<span class="ms-1 align-text-top badge bg-secondary badge-pill">{{ ini.get_background_display }}</span>
	{% endif %}
      </div>
      {% include 'initiative/topics-list.html' %}
    </div>
    <div class="text-end">
      {{ ini.location.city }}
    </div>
  </div>
</li>
