{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% block css %}
{% leaflet_css %}
{% endblock css %}

{% block js %}
{% leaflet_js %}
<script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'moment/locale/de-at.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock js %}

{% block content %}
<section class="text-center">
  {% include 'initiative/ini_list_header.html' with view="map" group="index" %}

  <div class="row mt-3">
    <div class="col-12">
      <div class="card mb-4">
	{% leaflet_map "large-map" %}
      </div>
    </div>
  </div>

  <div id="map-info" url="{% url 'initiative:data' %}" lat="{{ lat }}" lon="{{ lon }}"></div>
</section>

{% endblock content %}
