{% load i18n %}
{% load email_obfuscator %}
{% load bleach_tags %}
{% load common_tags %}
{% load static %}

<h4>
  <a href="{% url 'initiative:detail' ini.pk %}">{{ ini }}</a>
  {% if ini.location.accessible %}
  <small>
    <span class="badge bg-secondary"><i class="fa fa-wheelchair"></i></span>
  </small>
  {% endif %}
</h4>

<!-- topics -->
<div class="mb-1">
  <ul class="list-inline">
    {% for st in ini.topics.all %}
    <li class="list-inline-item">
      <a href="{% url 'topic:detail' st.parent.pk %}#{{ st|slugify }}">
	<img class="icon-secondary align-baseline"
	     src="{{ st.parent.icon.url }}"
	     title="{{ st.parent }}"
	     alt="{{ st.parent }}"
	     height="14"> {{ st }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- contact info -->
<div class="mb-2 text-truncate">
  <ul class="fa-ul">
    {% if ini.location.address_formatted %}
    <li>
      <i class="fa-li fa fa-fw fa-map-marker" aria-hidden="true"></i>
      <a href="{% url 'initiative:map-zoom' ini.pk %}">{{ ini.location.address_formatted }}</a>
    </li>
    {% endif %}
    {% if ini.contact_person %}
    <li>
      <i class="fa-li fa fa-fw fa-user" aria-hidden="true"></i>
      {{ ini.contact_person }}
    </li>
    {% endif %}
    {% if ini.website %}
    <li>
      <i class="fa-li fa fa-fw fa-globe" aria-hidden="true"></i>
      <a href="{{ ini.website }}" rel="noopener noreferrer" target="_blank">{{ ini.website }}</a>
    </li>
    {% endif %}
    {% if ini.mail %}
    <li>
      <i class="fa-li fa fa-fw fa-envelope-o" aria-hidden="true"></i>
      {{ ini.mail|obfuscate_mailto }}
    </li>
    {% endif %}
    {% if ini.matrix_room %}
    <li>
      <i class="fa-li fa fa-fw fa-matrix-org" aria-hidden="true"></i>
      <a href="{{ communication_tool.base_url }}{{ ini.matrix_room }}" target="_blank" rel="noopener noreferrer">
        {{ ini.matrix_room }}
      </a>
    </li>
    {% endif %}
    {% if ini.phone %}
    <li>
      <i class="fa-li fa fa-fw fa-phone" aria-hidden="true"></i>
      <a href="tel:{{ ini.phone|cut:" " }}">{{ ini.phone }}</a>
    </li>
    {% endif %}
  </ul>
</div>
