{% load i18n %}
{% load rules %}

{% if user.is_authenticated %}
{% has_perm 'initiative.change_initiative' request.user ini as can_edit_initiative %}
{% endif %}

<ul class="list-inline">
  {% for st in ini.topics.all %}
  <li class="list-inline-item lead">
    <a href="{% url 'topic:detail' st.parent.pk %}#{{ st|slugify }}">
      <img class="icon-secondary align-baseline"
	   src="{{ st.parent.icon.url }}"
	   title="{{ st.parent }}"
	   alt="{{ st.parent }}"
	   height="16"> {{ st }}
    </a>
  </li>
  {% empty %}
  {% if can_edit_initiative %}
  <a class="link-warning" href="{% url 'initiative:edit' ini.pk %}?tab=topics">
    {% trans 'Themen hinzufügen' %}
  </a>
  {% endif %}
  {% endfor %}
</ul>
