{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="alert alert-{% if initiative %}primary{% else %}secondary{% endif %} my-5">
  {% if initiative %}
  {% blocktrans %}
  Gratuliere! Du hast deine Initiative
  {% endblocktrans %}
  <a class="fw-bold" href="{% url 'initiative:detail' initiative.pk %}">{{ initiative}}</a>
  {% blocktrans %}
  erfolgreich aktualisiert. Du brauchst nichts
  weiter zu unternehmen.
  {% endblocktrans %}
  {% else %}
  {{ error }}
  {% endif %}
</div>
{% endblock %}
