body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul#sortable li i.fa-arrows {
    cursor: move;
    margin-right: 1em;
}

ul#sortable .form-control {
    width: 50% !important;
    display: inline-block;
}

ul#sortable li.placeholder {
    position: relative;
    height: 0;
    padding: 0;
}

ul#sortable li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -1px;
    border: 5px solid transparent;
    border-left-color: #f9b100;
    border-right: none;
}

.user-btn {
    margin: 4px;
}
