{% load i18n %}

<div id="CookielawBanner">
  <div class="container py-3">
    <h6>{% trans "Cookies" %}</h6>
    <a class="btn btn-success pull-right" href="javascript:Cookielaw.createCookielawCookie();">
      {% trans "Akzeptieren" %}
    </a>
    {% blocktrans %}
    Diese Website speichert Cookies auf Ihrem Gerät. Für weitere
    Informationen lesen Sie bitte unsere
    {% endblocktrans %}
    <a href="/pages/privacy">{% trans "Datenschutzbestimmungen" %}</a>.
    <br>
    {% blocktrans %}
    Wenn Sie die Website weiter nutzen,
    stimmen Sie der Verwendung von Cookies zu.
    {% endblocktrans %}
  </div>
</div>
