{% load static %}
{% load i18n %}

<div id="filter-modal"
     class="modal fade text-start"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="filter-modal-label"
     aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div id="filter"></div>
  </div>
</div>

<script type="text/html" id="filterTemplate">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{% trans "Filter" %}</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

      <div class="row gy-3">
	<div class="col-lg-4 col-12">
	  <h5 class="h5 d-inline-block">{% trans "Themen" %}</h5>
	  <span v-if="topics_selected()" class="align-top badge badge rounded-pill bg-primary">
	    {% verbatim %}{{ topics_selected() }}{% endverbatim %}
	  </span>

	  <ul class="list-group list-group-flush">
	    <li v-for="x in topics" class="list-group-item">
	      <div class="d-flex w-100 justify-content-between">
		<label class="fw-bold">
		  <input type="checkbox" v-indeterminate="x.indeterminate" v-model="x.selected" @change="topic_changed(x, false)">
		  {% verbatim %}{{ x.name }}{% endverbatim %}
		</label>
		<span @click="x.hide = !x.hide">
		  <i class="p-1 fa fa-caret-down" aria-hidden="true"></i>
		</span>
	      </div>

	      <div v-bind:class="{'d-none': x.hide}">
		<ul class="sublist list-unstyled">
		  <li v-for="sub in x.sub_topics">
		    <div class="checkbox">
		      <label>
			<input type="checkbox" :value="sub.id" v-model="sub.selected"
			       @change="subtopic_changed(x, sub)">
			{% verbatim %}{{ sub.name }}{% endverbatim %}
		      </label>
		    </div>
		  </li>
		</ul>
	      </div>
	    </li>
	  </ul>
	</div>

	<div class="col-lg-4 col-12">
	  <h5 class="h5 d-inline-block">{% trans "Bezirke" %}</h5>
	  <span v-if="states_selected()" class="align-top badge rounded-pill bg-primary">
	    {% verbatim %}{{ states_selected() }}{% endverbatim %}
	  </span>

	  <ul class="list-group list-group-flush">
	    <li v-for="x in states" class="list-group-item">
	      <div class="d-flex w-100 justify-content-between">
		<label class="fw-bold">
		  <input type="checkbox" v-indeterminate="x.indeterminate" v-model="x.selected" @change="state_changed(x, false)">
		  {% verbatim %}{{ x.name }}{% endverbatim %}
		</label>
		<span @click="x.hide = !x.hide">
		  <i class="fa fa-caret-down" aria-hidden="true"></i>
		</span>
	      </div>

	      <div v-bind:class="{'d-none': x.hide}">
		<ul class="sublist list-unstyled">
		  <li v-for="county in x.counties">
		    <div class="checkbox">
		      <label>
			<input type="checkbox" :value="county.name" v-model="county.selected"
			       @change="county_changed(x, county)">
			{% verbatim %}{{ county.name }}{% endverbatim %}
		      </label>
		    </div>
		  </li>
		</ul>
	      </div>
	    </li>
	  </ul>
	</div>

	<div class="col-lg-4 col-12">
	  <h5 class="h5 d-inline-block">{% trans "Orte" %}</h5>
	  <span v-if="locations_selected()" class="align-top badge badge rounded-pill bg-primary">
	    {% verbatim %}{{ locations_selected() }}{% endverbatim %}
	  </span>
	  <div class="form-group">
	    <div class="checkbox">
	      <label>
		<input type="checkbox" id="accessible_filter" v-model="accessible">
		{% trans 'Barrierefreier Zugang' %}
		<i class="fa fa-wheelchair" aria-hidden="true"></i>
	      </label>
	    </div>
	  </div>

	  <div class="mt-4">
	    <h5 class="h5 d-inline-block">{% trans "Veranstaltungen" %}</h5>
	    <span v-if="events_selected()" class="align-top badge badge rounded-pill bg-primary">
	      {% verbatim %}{{ events_selected() }}{% endverbatim %}
	    </span>
	    <div class="form-group">
	      <div class="checkbox">
		<label>
		  <input type="checkbox" id="off_line_filter" v-model="off_line">
		  {% trans 'Präsenztreffen' %}
		  <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
		</label>
	      </div>
	      <div class="checkbox">
		<label>
		  <input type="checkbox" id="non_recurring_filter" v-model="non_recurring">
		  {% trans 'Einzelveranstaltung' %}
		  <i class="fa fa-calendar-o" aria-hidden="true"></i>
		</label>
	      </div>
	    </div>
	  </div>

	  <div class="mt-4">
	    <h5 class="h5 d-inline-block">{% trans "Suche" %}</h5>
	    <span v-if="search_fields()" class="align-top badge badge rounded-pill bg-primary">
	      {% verbatim %}{{ search_fields() }}{% endverbatim %}
	    </span>
	    <div class="form-group">
	      <label for="initiative_filter">{% trans "Initiative" %}</label>
	      <input type="search" class="form-control" id="initiative_filter" placeholder="{% trans 'Initiative' %}"
		     v-model="initiative" debounce="1000">

	      <label for="person_filter">{% trans "Person" %}</label>
	      <input type="search" class="form-control" id="person_filter" placeholder="{% trans 'Person' %}" v-model="person"
		     debounce="1000">
	    </div>
	  </div>
	</div>
      </div>

      <div class="modal-footer">
	<button type="button" class="btn btn-primary" @click="close_modal()">{% trans "Speichern" %}</button>
        <button type="button" class="btn btn-secondary" @click="reset_filters()">{% trans "Filter zurücksetzen" %}</button>
      </div>

    </div>
  </div>
</script>

<script type="text/javascript" src="{% static 'lodash/lodash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vue/dist/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vue-resource/dist/vue-resource.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-tiny-pubsub/dist/ba-tiny-pubsub.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
