{% load i18n %}

<button type="button"
	class="btn btn-outline-primary position-relative"
	data-bs-toggle="modal"
	data-bs-target="#filter-modal">
  {% trans "Filter" %}

  <span id="filters-set" class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">{% trans 'Filter gesetzt' %}</span>
  </span>
</button>
